<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <style type="text/css">
@media screen and (max-width: 300px) {
  .two-column .column,
.three-column .column {
    max-width: 100% !important;
  }

  .two-column img {
    max-width: 100% !important;
  }

  .three-column img {
    max-width: 50% !important;
  }
}
@media screen and (min-width: 301px) and (max-width: 600px) {
  .three-column .column {
    max-width: 33% !important;
  }

  .two-column .column {
    max-width: 50% !important;
  }
}
</style>

    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>
<body style="Margin: 0; padding: 0; min-width: 100%; background-color: #ffffff;">
	{% load account %}
	{% user_display user as user_display %}
	{% load i18n %}
	{% autoescape off %}
    <center class="wrapper" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #f3f3f3;">
        <div class="webkit" style="max-width: 600px; background-color: #fff;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center">
            <tr>
            <td>
            <![endif]-->
            <table class="outer" align="center" style="border-spacing: 0; font-family: sans-serif; color: #333333; Margin: 0 auto; width: 100%; max-width: 600px;" width="100%">
            <!-- CONTENT START -->


                <!-- FULL WIDTH BANNER -->
                <tr>
                    <td class="full-width-image" style="padding: 0;">
                        <img src="images/header.jpg" width="600" alt="" style="border: 0; width: 100%; max-width: 600px; height: auto;">
                    </td>
                </tr>
                <!-- /FULL WIDTH BANNER -->


                <!-- ONE COLUMN -->
                <tr>
                    <td class="one-column" style="padding: 0;">
                        <table width="100%" style="border-spacing: 0; font-family: sans-serif; color: #333333;">
                            <tr>
                                <td class="inner contents" style="padding: 10px; width: 100%; text-align: center;" width="100%" align="center">
                                    <p class="h1" style="Margin: 0; font-weight: bold; text-align: center; color: #726a84; font-size: 14px; Margin-bottom: 10px;">
                                            Приветствуем Вас на сайте ЁжиК.!
                                    </p>
                                    <p style="Margin: 0; text-align: center; font-size: 14px; Margin-bottom: 10px;">
                                            Вы получили это письмо, потому что пользователь {{ user_display }} указал эту почту в качестве регистрационного e-mail или логина. Чтобы подтвердить это действие, перейдите по ссылке:
                                    </p>
                                     <a href="{{ activate_url }}" style="color: #ee6a56; text-decoration: underline;">Подтвердить email</a>
                                     <p style="Margin: 0; text-align: center; font-size: 14px; Margin-bottom: 10px; margin-top: 10px; color: #726a84;">
                                            Спасибо за регистрацию на сайте ЁжиК.!
                                            {{ current_site.domain }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- /ONE COLUMN -->


            <!-- /CONTENT -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
    {% endautoescape %}
</body>
</html> 