{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Корзина</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Корзина
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-checkout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text text-center">
                    <p>На странице корзины можно изменить количество заказанного товара или удалить его. Далее это сделать будет невозможно.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Cart Page Start -->
                <div class="cart-area">
                    <table>
                        <tbody>
                        {% if not cart.is_empty %}
                        {% for item in cart_items %}
                            <tr class="CartProduct">
                                <td class="CartProductThumbnail" style="width: 20%;">
                                    <div>
                                        <a href="{% url 'product_land' item.product.id %}">
                                            <img src="{{ item.product.product_main_image.image.url }}" alt="img" class="img-responsive" width="100">
                                        </a>
                                    </div>
                                </td>
                                <td style="width: 30%;">
                                    <div class="CartDescription">
                                        <h4>
                                            <a href="{% url 'product_land' item.product.id %}">{{ item.product.name }}</a>
                                        </h4>
                                        <span class="cart-item-price">{{ item.price }}</span><span> грн.</span>
                                    </div>
                                </td>
                                <td class="CartQuantity" style="width: 20%;">
                                    <input class="cart-touchspin form-control" name="cart_touchspin" type="text" value="{{ item.quantity }}" data-product_id="{{ item.product.id }}">
                                </td>
                                <td class="CartSubtotal" style="width: 15%;">
                                    <span class="cart-item-overall price">{{ item.subtotal }} грн.</span>
                                </td>
                                <td class="delete" style="width: 5%;">
                                    <a href="" class="delete-item" data-product_id="{{ item.product.id }}">
                                        <i class="ion-ios-trash-outline" style="font-size: 30px;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <div class="text-center">
                                <p class="empty-cart" style="font-size: 40px;">{% if cart.is_empty %}Ваша корзина пуста. Чтобы оформить заказ, необходимо добавить товар!{% endif %}</p>
                            </div>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <div class="container text-center" style="margin-top: 30px;">
        <div class="row align-items-center">
            <div class="col-md-12">
                <a id="checkout_page_submit" class="btn submit-btn" href="{% url 'checkout1' %}">Оформить заказ</a>
                <span class="btn submit-btn" id="cart_subtotal">Ваш заказ на сумму: {{ cart.total }} грн.</span>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock %}