{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="section_checkout" class="section-checkout section-padding-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb" style="margin-bottom: 40px;">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li class="active">
					    Корзина
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="text-white">Корзина</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <div class="col-12">
                <!-- Cart Page Start -->
                <div class="cart-area">
                    <table>
                        <tbody>
                        {% if not cart.is_empty %}
                        {% for item in cart_items %}
                            <tr class="CartProduct">
                                <td class="CartProductThumbnail" style="width: 20%;">
                                    <div>
                                        <a href="{% url 'product_land' item.product.id %}">
                                            <img src="{{ item.product.product_main_image.image.url }}" alt="img" class="img-responsive" width="100">
                                        </a>
                                    </div>
                                </td>
                                <td style="width: 40%;">
                                    <div class="CartDescription">
                                        <h4>
                                            <a href="{% url 'product_land' item.product.id %}">{{ item.product.name }}</a>
                                        </h4>
                                        <span class="cart-item-price">{{ item.price }}</span><span> грн.</span>
                                    </div>
                                </td>
                                <td class="CartQuantity" style="width: 15%;">
                                    <input class="cart-touchspin form-control" name="cart_touchspin" type="text" value="{{ item.quantity }}" data-product_id="{{ item.product.id }}">
                                </td>
                                <td class="CartSubtotal" style="width: 15%;">
                                    <span class="cart-item-overall price">{{ item.subtotal }} грн.</span>
                                </td>
                                <td class="delete" style="width: 5%;">
                                    <a href="" class="delete-item" data-product_id="{{ item.product.id }}">
                                        <i class="ion-ios-trash-outline" style="font-size: 30px;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <div class="text-center">
                                <p class="empty-cart" style="font-size: 40px;">{% if cart.is_empty %}Ваша корзина пуста. Чтобы оформить заказ, необходимо добавить товар!{% endif %}</p>
                            </div>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <div class="container text-center" style="margin-top: 30px;">
        <div class="row align-items-center">
            <div class="col-md-12">
                <a id="checkout_page_submit" class="btn submit-btn" href="{% url 'checkout1' %}">Оформить заказ</a>
                <span class="btn submit-btn" id="cart_subtotal">Ваш заказ на сумму: {{ cart.total }} грн.</span>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock %}