{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="section-checkout1 section-padding-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb" style="margin-bottom: 40px;">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
                    <li>
					    <a href="{% url 'checkout' %}">Корзина</a>
				    </li>
				    <li class="active">
					    Оформление заказа (Шаг 1 из 2)
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Оформление заказа</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    {% if user %}
                    <p>Вы можете изменить указанные данные, например, если получать товар будете не Вы!</p>
                    {% else %}
                    <p>Пожалуйста, заполните обязательные данные для оформления заказа!</p>
                    {% endif %}
                    {% if cart.is_empty %}
                    <p>{{ message }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <form action="{% url 'checkout1' %}" role="form" method="post" id="checkout_form">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            {% if user %}
                            {% if user.first_name %}
                            <label>Ваше имя</label>
                            <input name="anonymous_name" class="form-control" id="id_anonymous_name" type="text" value="{{ user.first_name }}" placeholder="{{ user.first_name }}">
                            {% else %}
                            <label>Ваше имя (укажите имя в настройках личного кабинета, чтобы не вводить его повторно при каждом заказе)<sup>*</sup></label>
                            {% render_field form1.anonymous_name|add_class:"form-control"|attr:"autofocus" placeholder="Ваше имя" %}
                            {% for error in form1.anonymous_name.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                            {% else %}
                            <label for="{{ form1.anonymous_name.auto_id }}">{{ form1.anonymous_name.label }}<sup>*</sup></label>
                            {% render_field form1.anonymous_name|add_class:"form-control"|attr:"autofocus" placeholder="Ваше имя" %}
                            {% for error in form1.anonymous_name.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group required">
                            {% if user %}
                            {% if user.email %}
                            <label>Ваш email</label>
                            <input name="anonymous_email" id="id_anonymous_email" class="form-control" type="email" value="{{ user.email }}">
                            {% else %}
                            <label>Ваш email (укажите email в настройках личного кабинета, чтобы не вводить его повторно при каждом заказе)<sup>*</sup></label>
                            {% render_field form1.anonymous_email|add_class:"form-control" placeholder="Ваш email" %}
                            {% for error in form1.anonymous_email.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                            {% else %}
                            <label for="{{ form1.anonymous_email.auto_id }}">{{ form1.anonymous_email.label }}<sup>*</sup></label>
                            {% render_field form1.anonymous_email|add_class:"form-control" placeholder="Ваш email" %}
                            {% for error in form1.anonymous_email.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group required">
                            {% if user %}
                            {% if user.profile.phone %}
                            <label>Контактный номер телефона</label>
                            <input name="anonymous_phone" id="id_anonymous_phone" class="form-control phone-mask" type="text" value="{{ user.profile.phone }}">
                            {% else %}
                            <label>Ваш номер телефона (укажите его в настройках личного кабинета, чтобы не вводить повторно при каждом заказе)<sup>*</sup></label>
                            {% render_field form1.anonymous_phone|add_class:"form-control phone-mask" placeholder="Номер телефона" %}
                            {% for error in form1.anonymous_phone.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                            {% else %}
                            <label for="{{ form1.anonymous_phone.auto_id }}">{{ form1.anonymous_phone.label }}<sup>*</sup></label>
                            {% render_field form1.anonymous_phone|add_class:"form-control phone-mask" placeholder="Номер телефона" %}
                            {% for error in form1.anonymous_phone.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group required">
                            {% if user %}
                                {% if user.profile.delivery_city %}
                                    <label for="{{ form2.anonymous_area.id_for_label }}">{{ form2.anonymous_area.label }}</label>
                                    {{ form2.anonymous_area|add_class:"form-control" }}
                                {% else %}
                                    <label for="{{ form2.anonymous_area.id_for_label }}">{{ form2.anonymous_area.label }}<sup>*</sup></label>
                                    {{ form2.anonymous_area|add_class:"form-control" }}
                                {% endif %}
                            {% else %}
                                <label for="{{ form2.anonymous_area.id_for_label }}">{{ form2.anonymous_area.label }}<sup>*</sup></label>
                                {{ form2.anonymous_area|add_class:"form-control"}}
                            {% endif %}
                        </div>
                        <div class="form-group required">
                            {% if user %}
                                {% if user.profile.delivery_city %}
                                    <label for="{{ form2.anonymous_city.id_for_label }}">{{ form2.anonymous_city.label }}</label>
                                    {{ form2.anonymous_city|add_class:"form-control" }}
                                {% else %}
                                    <label for="{{ form2.anonymous_city.id_for_label }}">{{ form2.anonymous_city.label }}<sup>*</sup></label>
                                    {{ form2.anonymous_city|add_class:"form-control" }}
                                {% endif %}
                            {% else %}
                                <label for="{{ form2.anonymous_city.id_for_label }}">{{ form2.anonymous_city.label }}<sup>*</sup></label>
                                {{ form2.anonymous_city|add_class:"form-control"}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required section-checkout-delivery-address">
                        {% if user %}
                            {% if user.profile.delivery_address %}
                                <label for="{{ form2.anonymous_additional.id_for_label }}">  {{ form2.anonymous_additional.label }}</label>
                                {{ form2.anonymous_additional|add_class:"form-control" }}
                            {% else %}
                                <label for="{{ form2.anonymous_additional.id_for_label }}">  {{ form2.anonymous_additional.label }}<sup>*</sup></label>
                                {{ form2.anonymous_additional|add_class:"form-control" }}
                            {% endif %}
                        {% else %}
                            <label for="{{ form2.anonymous_additional.id_for_label }}">{{ form2.anonymous_additional.label }}<sup>*</sup></label>
                                {{ form2.anonymous_additional|add_class:"form-control" }}
                        {% endif %}
                        </div>
                        <div style="margin-top: 30px;">
                            <button class="btn submit-btn" type="submit" form="checkout_form">Оформить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}