{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section id="section_checkout" class="section-checkout clearfix" style="margin-bottom: 374px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb" style="margin-bottom: 40px;">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
                    <li>
					    <a href="{% url 'checkout' %}">Корзина</a>
				    </li>
				    <li class="active">
					    Оформление заказа (Шаг 1 из 2)
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="section-cart-header">
                    <h2>Оформление заказа</h2>
                    <p>Пожалуйста, заполните необходимые данные для оформления заказа!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-back-button">
                    <a href="{% url 'checkout' %}">Назад к корзине</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="{% url 'checkout1' %}" role="form" method="post" id="checkout_form">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="text-white" for="{{ form1.anonymous_name.auto_id }}">{{ form1.anonymous_name.label }}<sup>*</sup></label>
                            {% render_field form1.anonymous_name|add_class:"form-control"|attr:"autofocus" placeholder="Ваше имя" %}
                            {% for error in form1.anonymous_name.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            <label class="text-white" for="{{ form1.anonymous_email.auto_id }}">{{ form1.anonymous_email.label }}<sup>*</sup></label>
                            {% render_field form1.anonymous_email|add_class:"form-control" placeholder="Ваш email" %}
                            {% for error in form1.anonymous_email.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            <label class="text-white" for="{{ form1.anonymous_phone.auto_id }}">{{ form1.anonymous_phone.label }}<sup>*</sup></label>
                            {% render_field form1.anonymous_phone|add_class:"form-control phone-mask" placeholder="Номер телефона" %}
                            {% for error in form1.anonymous_phone.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            <label class="text-white" for="{{ form2.anonymous_area.id_for_label }}">{{ form2.anonymous_area.label }}<sup>*</sup></label>
                            {{ form2.anonymous_area|add_class:"form-control" }}
                            {% for error in form2.anonymous_area.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            <label class="text-white" for="{{ form2.anonymous_city.id_for_label }}">{{ form2.anonymous_city.label }}<sup>*</sup></label>
                            {{ form2.anonymous_city|add_class:"form-control"|attr:"disabled" }}
                            {% for error in form2.anonymous_city.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="text-white" for="{{ form2.anonymous_additional.id_for_label }}">{{ form2.anonymous_additional.label }}<sup>*</sup></label>
                            {{ form2.anonymous_additional|add_class:"form-control" }}
                            {% for error in form2.anonymous_additional.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div style="margin-top: 30px;">
                            <button class="btn submit-btn" type="submit" form="checkout_form">Оформить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}