{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Аккаунт неактивен</h2>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'account_login' %}">Авторизация</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Аккаунт неактивен
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-activation">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-text text-center">
					<p>{% trans "This account is inactive." %}</p>
					<p>Если у Вас возникли какие-либо вопросы, свяжитесь с нами для уточнения деталей.</p>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}