{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Подтверждение E-mail</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'email_change' %}">Сменить E-mail</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Подтверждение E-mail
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-activation">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text">
				{% if confirmation %}
					{% user_display confirmation.email_address.user as user_display %}
					<p>Пожалуйста, подтвердите привязку почты <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> к пользователю {{ user_display }}.</p>
					<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
					{% csrf_token %}
						<div class="text-center">
    						<button class="btn submit-btn" type="submit">{% trans 'Confirm' %}</button>
    					</div>
					</form>
				{% else %}
					{% url 'account_email' as email_url %}
					<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
				{% endif %}
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}