{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>E-mail адреса</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        E-mail адреса
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-email">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text">
                    {% if user.emailaddress_set.all %}
                    <p>Следующие e-mail адреса прикреплены к Вашему аккаунту:</p>
                    {% else %}
                    <p>Внимание! На данный момент у Вас нет привязанных e-mail адресов. Чтобы получать уведомления сайта при оформлении заказов, а также для сброса/восстановления вашего пароля, необходимо добавить хотя бы один электронный адрес!</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12">
            {% if user.emailaddress_set.all %}
                <form action="{% url 'email_change' %}" class="email_list" method="post">
                {% csrf_token %}
                    <fieldset class="blockLabels">
                    {% for emailaddress in user.emailaddress_set.all %}
                        <div class="ctrlHolder">
                            <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                                <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                <span class="verified">{% trans "Verified" %}</span>
                                {% else %} 
                                <span class="unverified">{% trans "Unverified" %}</span>
                                {% endif %}
                                {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}   
                            </label>
                        </div>
                    {% endfor %}
                        <div class="buttonHolder">
                            <button class="secondaryAction btn submit-btn" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                            <button class="primaryAction btn submit-btn" type="submit" name="action_change" >{% trans 'Change' %}</button>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}