{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block auth %}
{% get_providers as socialaccount_providers %}

<section class="section-auth section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li class="active">
					    Войти
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					<h2 class="text-white">Войти</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text">
                {% if socialaccount_providers %}
                    <p>Вы можете войти, используя социальную сеть из списка ниже:
                    </p>
                    <div class="container text-center">
                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                    </div>
                {% else %}
                    <p>Если у Вас еще нет созданного аккаунта на нашем сайте, то можно зарегистрироваться
                    <a href="{{ signup_url }}">ЗДЕСЬ</a></p>
                {% endif %}
				</div>
			</div>
			<div class="col-md-6 section-auth-right">
                {% include "socialaccount/snippets/login_extra.html" %}
                <p>Или войдите, используя логин и пароль, введенные при регистрации:</p>
                <form method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                    <div class="contact-input-area">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% render_field form.login|add_class:"form-control"|attr:"autofocus" placeholder="Ваш логин" %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.password|add_class:"form-control" placeholder="Пароль" %}
                                </div>
                                <div class="form-group">
                                    <p><a style="color: #5b32b4;">Запомнить меня?</a>{% render_field form.remember %}</p>
                                </div>

                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}

                                <div class="form-group">
                                    <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="color: #5b32b4;">{% trans "Forgot Password?" %}</a></p>
                                </div>
                                <div class="form-group">
                                    <p><a href="{{ signup_url }}" style="color: #5b32b4;">Зарегистрироваться</a></p>
                                </div>
                                <button class="btn submit-btn" type="submit">{% trans "Sign In" %}</button>
                                {% if form.errors %}
                                <div class="form-error">
                                    <p>Ошибки:</p>
                                    <ul>
                                    {% for error in form.errors %}
                                        <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Auth -->
{% endblock %}