{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block auth %}
{% get_providers as socialaccount_providers %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Авторизация</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Авторизация
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">          
            {% if form.errors %}
            <div class="alert error alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for field in form %}
                {% for error in field.errors %}    
                    {% blocktrans %}{{ error }}{% endblocktrans %}
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}    
                    {% blocktrans %}{{ error }}{% endblocktrans %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="section-auth">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text text-center">
                {% if socialaccount_providers %}
                    <p>Вы можете войти, используя социальную сеть из списка ниже:
                    </p>
                    <div class="d-flex justify-content-center">
                        <ul class="socialaccount_providers ">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                    </div>
                {% else %}
                    <p>Если у Вас еще нет созданного аккаунта на нашем сайте, то можно зарегистрироваться
                    <a href="{{ signup_url }}">ЗДЕСЬ</a></p>
                {% endif %}
				</div>
			</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
			<div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px;">
                {% include "socialaccount/snippets/login_extra.html" %}
                <p class="text-center">Или войдите, используя логин и пароль, введенные при регистрации:</p>
                <form method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                    <div class="contact-input-area">
                        <div class="row">
                            <div class="col-12">
                                <div class="wrap-input100">
                                    <label for="{{ form.login.auto_id }}" class="label-input100">{{ form.login.label }}</label>
                                    {% render_field form.login|add_class:"input100" %}
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100">
                                    <label for="{{ form.password.auto_id }}" class="label-input100">{{ form.password.label }}</label>
                                    {% render_field form.password|add_class:"input100" %}
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="form-group text-center">
                                    <p><a style="color: #6E52E5;">Запомнить меня?</a>{% render_field form.remember %}</p>
                                </div>

                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}

                                <div class="form-group text-center">
                                    <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="color: #6E52E5;">{% trans "Forgot Password?" %}</a></p>
                                </div>
                                <div class="form-group text-center">
                                    <p><a href="{{ signup_url }}" style="color: #6E52E5;">Зарегистрироваться</a></p>
                                </div>
                                <div class="text-center">
                                    <button class="btn submit-btn" type="submit">{% trans "Sign In" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
			</div>
            <div class="col-lg-3 col-md-3"></div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Auth -->
{% endblock %}