{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block content %}
<section class="section-activation section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li class="active">
					    Выйти
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading" style="text-align: center;">
					<h2 class="text-white">Выйти из учетной записи</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text text-center">
					<p>{% trans 'Are you sure you want to sign out?' %}</p>
					<form method="post" action="{% url 'account_logout' %}">
  					{% csrf_token %}
  					{% if redirect_field_value %}
  						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  					{% endif %}
  						<button class="btn submit-btn" type="submit">{% trans 'Sign Out' %}</button>
					</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}