{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="section-password-reset section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li>
                        <a href="{% url 'user_my_profile' %}">Мой профиль</a>
                    </li>
                    <li class="active">
                        Смена пароля
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" style="text-align: center;">
                    <h2 class="text-white">Смена пароля</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>Ваш пароль успешно изменён!</p>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}