{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Сброс пароля</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'account_login' %}">Авторизация</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Сброс пароля
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">          
            {% if form.errors %}
            <div class="alert error alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for field in form %}
                {% for error in field.errors %}    
                    {% blocktrans %}{{ error }}{% endblocktrans %}
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}    
                    {% blocktrans %}{{ error }}{% endblocktrans %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="section-password-reset">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text text-center">
                    {% if user.is_authenticated %}
                        {% user_display user as user_display %}
                        <p>Вы уже вошли как {{ user_display }}</p>
                    {% endif %}
                    <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем Вам письмо для сброса пароля.</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                        <div class="contact-input-area">
                            <div class="row">
                                <div class="col-lg-3 col-md-3"></div>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px;">
                                    <div class="wrap-input100">
                                        <label for="{{ form.email.auto_id }}" class="label-input100">{{ form.email.label }}</label>
                                        {% render_field form.email|add_class:"input100" %}
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3"></div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn submit-btn" type="submit" name="action" value="{% trans 'Reset My Password' %}"/>Возобновить пароль</button>
                        </div>
                        <p style="margin-top: 30px;">Пожалуйста, свяжитесь с нами, если у Вас возникли какие-либо сложости со сменой пароля!</p>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}