{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Новый пароль установлен!</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'account_login' %}">Авторизация</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Новый пароль установлен!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-password-reset">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text text-center">
                    <p>Ваш пароль успешно изменён! Рекомендуем запомнить его или записать!</p>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}