{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Смена пароля</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'user_my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Смена пароля
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-password-change">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-text text-center">
					<p>Для смены пароля сначала введите Ваш текущий пароль, а затем - новый.</p>
					<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        			{% csrf_token %}
        				<div class="contact-input-area">
        					<div class="row">
        						<div class="col-md-12">
        							<div class="form-group">
        								{% render_field form.oldpassword|add_class:"form-control"|attr:"autofocus" placeholder="Текущий пароль" %}
        							</div>
        							<div class="form-group">
        								{% render_field form.password1|add_class:"form-control" placeholder="Новый пароль" %}
        							</div>
        							<div class="form-group">
        								{% render_field form.password2|add_class:"form-control" placeholder="Новый пароль еще раз" %}
        							</div>
        						</div>
        					</div>
        				</div>
        				<div class="text-center">
        					<button class="btn submit-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>Сменить пароль</button>
        				</div>
        				{% if form.errors %}
                        <div class="form-error text-center">
                            <p>Ошибки:</p>
                            <ul>
                            {% for field in form %}
                                {% for error in field.errors %}    
                                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}    
                                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
    				</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}