{% extends 'base.html' %}
{% load i18n %}
{% load account %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Сброс пароля</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'account_login' %}">Авторизация</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Сброс пароля
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-password-reset">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text text-center">
                    {% if user.is_authenticated %}
                        {% user_display user as user_display %}
                        <p>Вы уже вошли как {{ user_display }}</p>
                    {% endif %}
                    <p>Мы отправили Вам письмо с инструкциями по сбросу пароля. Пожалуйста, свяжитесь с нами, если не получили его в течение нескольких минут.</p>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}