{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block content %}
<section class="section-password-reset section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li>
                        <a href="{% url 'user_my_profile' %}">Мой профиль</a>
                    </li>
                    <li class="active">
                        Сброс пароля
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" style="text-align: center;">
                    <h2 class="text-white">Сброс пароля</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    {% if user.is_authenticated %}
                        {% user_display user as user_display %}
                        <p>Вы уже вошли как {{ user_display }}</p>
                    {% endif %}
                    <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем Вам письмо для сброса пароля.</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                        <div class="contact-input-area">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {% render_field form.email|add_class:"form-control"|attr:"autofocus" placeholder="E-mail адрес" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn submit-btn" type="submit" name="action" value="{% trans 'Reset My Password' %}"/>Возобновить пароль</button>
                        </div>
                        <p style="margin-top: 30px;">Пожалуйста, свяжитесь с нами, если у Вас возникли какие-либо сложости со сменой пароля!</p>
                        {% if form.errors %}
                        <div class="form-error text-center">
                            <p>Ошибки:</p>
                            <ul>
                            {% for field in form %}
                                {% for error in field.errors %}    
                                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}    
                                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}