{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block auth %}
{% get_providers as socialaccount_providers %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Регистрация</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Регистрация
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">          
            {% if form.errors %}
            <div class="alert error alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for field in form %}
                {% for error in field.errors %}    
                    {% blocktrans %}{{ error }}{% endblocktrans %}
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}    
                    {% blocktrans %}{{ error }}{% endblocktrans %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="section-register">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text text-center">
                    <p>Если у Вас уже есть зарегистрированный аккаунт, тогда, пожалуйста, <a href="{{ login_url }}">войдите</a> в свою учетную запись!</p>
				</div>
			</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
			<div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px;">
                <p>Введите регистрационные данные:</p>
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                    <div class="contact-input-area">
                        <div class="row">
                            <div class="col-12">
                                <div class="wrap-input100">
                                    <label for="{{ form.email.auto_id }}" class="label-input100">{{ form.email.label }}</label>
                                    {% render_field form.email|add_class:"input100" %}
                                    <span class="focus-input100"></span>
                                </div>                          
                                <div class="wrap-input100">
                                    <label for="{{ form.password1.auto_id }}" class="label-input100">{{ form.password1.label }}</label>
                                    {% render_field form.password1|add_class:"input100" %}
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100">
                                    <label for="{{ form.password2.auto_id }}" class="label-input100">{{ form.password2.label }}</label>
                                    {% render_field form.password2|add_class:"input100" %}
                                    <span class="focus-input100"></span>
                                </div>
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <div class="text-center">
                                    <button class="btn submit-btn" type="submit">Зарегистрироваться</button>
                                </div>
                            </div>
                        </div>
                    </div>                                      
                </form>                            
			</div>
            <div class="col-lg-3 col-md-3"></div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Auth -->
{% endblock %}