{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Подтвердите email</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'account_signup' %}">Регистрация</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Подтвердите email
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-after-registration">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-text text-center">
					<p>На Ваш email отправлена ссылка для подтверждения электронной почты. Пожалуйста, перейдите по ссылке и завершите процесс регистрации! Если вы не получили верификационное письмо в течение нескольких минут, пожалуйста, свяжитесь с нами.</p>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}
