{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n avatar_tags %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Аватар</h2>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'user_my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Аватар
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-avatar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-text text-center">
                    <p>Здесь можно добавить или изменить аватар вашего профиля. Сейчас ваш аватар выглядит вот так:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="footer-text text-center">
                    <img class="rounded-circle img-fluid" src="{% avatar_url user 150 %}" alt="">
                    {% if not request.user|has_avatar %}
                    <p style="margin-top: 10px;">{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px; text-align: center;">
				<form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
				{% csrf_token %}
    				<label class="btn submit-btn" for={{ upload_avatar_form.avatar.auto_id }}>
						<i class="fas fa-cloud-upload-alt"></i> Загрузить изображение
    				</label>
    				{% render_field upload_avatar_form.avatar %}
    				<br>
    				<button class="btn submit-btn" type="submit" value="Применить">Применить</button>
    				{% if upload_avatar_form.errors %}
                    <!-- Error messaging -->
                    <div class="error-container">
                        <div class="form-error">
                            <p>В процессе загрузки произошли ошибки. Пожалуйста, исправьте их:</p>
                            {{ upload_avatar_form.non_field_errors }}
                            <ul>
                            {% for field in upload_avatar_form %}
                                {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    <!-- /Error messaging -->
                    </div>
                    {% endif %}
				</form>
			</div>
            <div class="col-lg-3 col-md-3"></div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}