{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n avatar_tags %}

{% block content %}
<section class="section-avatar section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li>
                        <a href="{% url 'user_my_profile' %}">Личный кабинет</a>
                    </li>
                    <li class="active">
                        Изменение аватара
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" style="text-align: center;">
                    <h2 class="text-white">{% trans "Your current avatar: " %}</h2>
                    <div class="line-shape"></div>
                    <p>Для изменения аватара загрузите новое изображение и нажмите "Изменить"</p>
                </div>
                <div class="footer-text">
                    <img class="rounded-circle img-fluid" src="{% avatar_url user 150 %}" alt="">
                    {% if not request.user|has_avatar %}
                    <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                    {% else %}
                    <form class="d-none" method="POST" action="{% url 'avatar_change' %}">
                    {% csrf_token %}    
                        <ul>
                        {{ primary_avatar_form.as_ul }}
                        </ul>
                        <input type="submit" value="{% trans "Choose new Default" %}" />
                    </form>
                    {% endif %}
                    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                    {% csrf_token %}
                        <label class="btn submit-btn" for={{ upload_avatar_form.avatar.auto_id }}>
                            <i class="fas fa-cloud-upload-alt"></i>Выберите изображение
                        </label>
                        {% render_field upload_avatar_form.avatar %}
                        <br>
                        <input class="btn submit-btn" type="submit" value="Изменить" />
                        {% if upload_avatar_form.errors %}
                        <!-- Error messaging -->
                        <div class="error-container">
                            <div class="form-error">
                                <p>В процессе загрузки произошли ошибки. Пожалуйста, исправьте их:</p>
                                {{ upload_avatar_form.non_field_errors }}
                                <ul>
                                {% for field in upload_avatar_form %}
                                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        <!-- /Error messaging -->
                        </div>
                        {% endif %}
                        {% if primary_avatar_form.errors %}
                        <!-- Error messaging -->
                        <div class="error-container">
                            <div class="form-error">
                                <p>В процессе загрузки произошли ошибки. Пожалуйста, исправьте их:</p>
                                {{ primary_avatar_form.non_field_errors }}
                                <ul>
                                {% for field in primary_avatar_form %}
                                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        <!-- /Error messaging -->
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}