{% load static %}
<footer class="footer">
	<div class="footer">
    	<div class="container">
        	<div class="row">
        		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        			<h3>Контакты</h3>
        			<ul>
        				<li class="supportLi">
        					<h4>
        						<a class="inline" href="callto:+380507779271">
        							<i class="fas fa-phone"></i>
                                    +38(050)777-92-71
        						</a>
        					</h4>
        					<h4>
        						<a class="inline" href="mailto:jennyko2006@gmail.com">
        							<i class="fas fa-at"></i>
        							jennyko2006@gmail.com
        						</a>
        					</h4>
        				</li>
        			</ul>
        		</div>
        		<div class="col-lg-2 col-mdm-2 col-sm-4 col-xs-6">
        			<h3>Товары</h3>
        			<ul>
        				<li>
        					<a href="#">Микрофоны</a>
        				</li>
        				<li>
        					<a href="#">Мультиплееры</a>
        				</li>
        			</ul>
        		</div>
        		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
        			<h3>Мой аккаунт</h3>
        			<ul>
        				<li>
        					<a href="#">Мой аккаунт</a>
        				</li>
        				<li>
        					<a href="#">Мой адрес</a>
        				</li>
        				<li>
        					<a href="#">Список заказов</a>
        				</li>
        				<li>
        					<a href="#">Статус заказа</a>
        				</li>
        			</ul>
        		</div>
        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        			<h3>Оставайтесь на связи</h3>
        			<ul>
        				<li>
        					<div class="input-append newsLatterBox text-center">
        						<input type="text" class="full text-center" placeholder="Email">
        						<button class="btn bg-gray" type="button">
        						Подписаться
								<i class="fas fa-long-arrow-alt-right"></i>
        						</button>
        					</div>
        				</li>
        			</ul>
        			<ul class="social">
        				<li>
        					<a href="http://facebook.com">
        						<i class="fab fa-facebook" aria-hidden="true"></i>
        					</a>
        				</li>
        				<li>
        					<a href="tg://resolve?domain=AlexBr">
        						<i class="fab fa-telegram" aria-hidden="true"></i>
        					</a>
        				</li>
        				<li>
        					<a href="viber://chat?number=+380507779271">
        						<i class="fab fa-viber" aria-hidden="true"></i>
        					</a>
        				</li>
        				<li>
        					<a href="http://youtube.com">
        						<i class="fab fa-youtube" aria-hidden="true"></i>
        					</a>
        				</li>
        				<li>
        					<a href="skype:lyoxxxa">
        						<i class="fab fa-skype" aria-hidden="true"></i>
        					</a>
        				</li>
        			</ul>
        		</div>
        	</div>
        	<!--/.row-->
    	</div>
    	<!--/.container-->
    </div>
	<!--/.footer-->
	<div class="footer-bottom">
		<div class="container">
			<p class="pull-left">
				<i class="fa fa-copyright" aria-hidden="true"></i>
				Книжный ёж 2018. Все права защищены.
			</p>
			<div class="pull-right paymentMethodImg">
				<img class="pull-right" src="{% static 'img/master_card.png' %}" alt="img" height="30">
				<img class="pull-right" src="{% static 'img/visa_card.png' %}" alt="img" height="30">
				<a href="https://www.privat24.ua/" title="Перейти в Приват24">
                    <img class="pull-right" src="{% static 'img/privat24.png' %}" alt="img" height="30">
                </a>
                <a href="http://www.azbookvarik.ru/" title="Перейти на сайт АЗБУКВАРИК">
                    <img class="pull-right" src="{% static 'img/azbukvarik.png' %}" alt="img" height="30">
                </a>
			</div>
		</div>
	</div>
	<!--/.footer-bottom-->    
</footer>
