{% load static %}

<!-- Preloader Start -->
<!-- Header Area Start -->
<!--<header class="header-area animated slideInDown" data-aos="slide-down">-->
<header class="header-area animated slideInDown">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu-area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a href="{% url 'home' %}" class="navbar-brand">Ёжик.</a>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle" href="#">Каталог товаров
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu hidden">
                                        <li class="megamenu-content">
                                        <!--megamenu-content-->
                                           <ul class="col-lg-2 col-sm-2 col-md-2 unstyled noMarginLeft">
                                                <li>
                                                    <p>
                                                        <a href="/#microphones"><strong>Микрофоны</strong></a>
                                                    </p>
                                                </li>
                                                {% for item in nav_products_microphones %}
                                                <li>
                                                    <a href="{% url 'product' item.id %}">{{ item.name }}</a>
                                                </li> 
                                                {% endfor %}
                                            </ul>
                                            <ul class="col-lg-2 col-sm-2 col-md-2 unstyled noMarginLeft">
                                                <li>
                                                    <p>
                                                        <a href="/#multiplayers"><strong>Плееры</strong></a>
                                                    </p>
                                                </li>
                                                {% for item in nav_products_players %}
                                                <li>
                                                    <a href="{% url 'product' item.id %}">{{ item.name }}</a>
                                                </li> 
                                                {% endfor %}
                                            </ul>
                                            <ul class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
                                                <li class="no-margin productPopItem">
                                                    <a href="#">
                                                        <img class="img-responsive" src="/media/static/products/img/karaoke_shainskii.png" alt="img"></a>
                                                    <a class="text-center productInfo alpha90" href="/product/1">
                                                       Хит продаж!
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
                                                <li class="no-margin productPopItem">
                                                    <a href="#">
                                                        <img class="img-responsive" src="/media/static/products/img/karaoke_ia_pou.jpg" alt="img"></a>
                                                    <a class="text-center productInfo alpha90" href="/product/2">
                                                        Хит продаж!
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Оплата и доставка</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Контакты</a>
                                </li>
                            </ul>  
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Minicart -->
            <div class="col-12 col-lg-2">
                <div class="minicart-button d-lg-block">
                    <a href="" >
                        <i class="ion-ios-cart-outline"></i>
                        Корзина <span id="cart_qnty_subtotal">{% if products_in_cart_total_qnty %}({{ products_in_cart_total_qnty }}){% else %}(0){% endif %}</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</header>
<!-- End Header -->      
                    


                                







                    
<!--                </ul>
                <div class="nav navbar-nav navbar-right hidden-xs">
                    <div class="dropdown cartMenu basket-container">
                        <a class="dropdown-toggle">
                            <i class="fas fa-shopping-basket"></i>
                            <span class="cartRespons">
                                Корзина
                                <span id="cart_ptroduct_total"></span>
                                <span id="cart_qnty_subtotal">
                                    {% if products_in_cart_total_qnty %}
                                        ({{ products_in_cart_total_qnty }})
                                    {% else %}
                                        (0)
                                    {% endif %}
                                </span>
                            </span>
                                <b class="caret"></b>
                        </a>
                        <div class="droppingbasket col-lg-5 col-xs-12 col-md-4 hidden">
                            <div class="w100 miniCartTable pre-scrollable">
                                <div>
                                    <div>
                                        <table>
                                            <tbody>
                                                {% if not products_in_cart %}
                                                <p class="lead text-center">
                                                    ... В Вашей корзине еще нет товаров ...
                                                </p>
                                                {% else %}
                                                    {% for item_in_cart in products_in_cart %}
                                                        <tr class="miniCartProduct">
                                                            <td class="miniCartProductThumb" style="width: 20%;">
                                                                <div>
                                                                    <a href="{% url 'product' item_in_cart.product.id %}">
                                                                        <img src="{{ item_in_cart.product.product_main_image.image.url }}" alt="img">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td style="width: 40%;">
                                                                <div class="miniCartDescription">
                                                                    <h4>
                                                                        <a href="{% url 'product' item_in_cart.product.id %}">{{ item_in_cart.product.name }}</a>
                                                                    </h4>
                                                                    <div class="price">
                                                                        <span>{{ item_in_cart.price_per_item }}</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="miniCartQuantity" style="width: 10%;">
                                                                <a>* {{ item_in_cart.qnty }} шт.</a>
                                                            </td>
                                                            <td class="miniCartSubtotal" style="width: 15%;">
                                                                <span class="minicart-item-overall">{{ item_in_cart.total_price }} <br>UAH</span>
                                                            </td>
                                                            <td class="delete" style="width: 5%;">
                                                                <a class="delete-item" href="" data-product_id="{{ item_in_cart.id }}">x</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="miniCartFooter text-right">
                                <h3 class="text-right subtotal">
                                    ИТОГО: <span id="miniCart_subtotal">0 UAH</span>
                                </h3>
                                    <a class="btn btn-sm btn-primary" href="{% url 'checkout' %}">
                                        <i class="fas fa-shopping-basket"></i>ПЕРЕЙТИ В КОРЗИНУ
                                    </a>
                                    {% if username %}
                                    <a class="btn btn-sm btn-danger" href="{% url 'checkout1' %}">ОФОРМИТЬ ЗАКАЗ</a>
                                    {% else %}
                                    <a class="btn btn-sm btn-danger" href="{% url 'login' %}">ОФОРМИТЬ ЗАКАЗ</a>
                                    {% endif %}
                            </div>
                        </div>
                    
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        -->
