{% load static %}
    <!-- Static navbar -->
    <nav class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <div class="pull-left">
                            <ul class="userMenu">
                                <li class="phone-number">
                                    <a href="callto:+380507779271">
                                        <span>
                                            <i class="glyphicon glyphicon-phone-alt"></i>
                                        </span>
                                        <span class="hidden-xs" style="margin-left:5px">+38(050)777-92-71
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                        <div class=pull-right>
                            <ul class="userMenu">
                                <li>
                                    <a href="#">
                                        <span class="hidden-xs">Мой аккаунт</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="hidden-xs">Войти</span>
                                    </a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#">Зарегистрироваться</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
        <!--/.navbar-top-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/logo.png' %}" alt="shop">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Домой</a>
                    </li>
                    <li class="dropdown megamenu-80width">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Каталог товаров
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="megamenu-content">
                                <!--megamenu-content-->
                                <ul class="col-lg-2 col-sm-2 col-md-2 unstyled noMarginLeft">
                                    <li>
                                        <p>
                                           <strong>Микрофоны</strong>
                                        </p>
                                    </li>
                                    {% for item in products_microphones %}
                                    <li>
                                        <a href="{% url 'product' item.id %}">{{ item.name }}</a>
                                    </li> 
                                    {% endfor %}
                                </ul>
                                <ul class="col-lg-2 col-sm-2 col-md-2 unstyled noMarginLeft">
                                    <li>
                                        <p>
                                           <strong>Мультиплееры</strong>
                                        </p>
                                    </li>
                                    {% for item in products_players %}
                                    <li>
                                        <a href="{% url 'product' item.id %}">{{ item.name }}</a>
                                    </li> 
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Оплата и доставка</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right hidden-xs">
                    <div class="dropdown cartMenu basket-container">
                        <a href="/checkout/" class="dropdown-toggle">
                            <i class="fa fa-shopping-cart fa-lg"></i>
                            <span class="cartRespons">
                                Корзина
                                <span id="basket_total_amount"></span>
                                <span id="basket_total_nmb">
                                    {% if products_total_nmb %}
                                        ({{ products_total_nmb }})
                                    {% else %}
                                        (0)
                                    {% endif %}
                                </span>
                            </span>
                                <b class="caret"></b>
                        </a>
                        <div class="basket-items hidden">
                            <ul>
                                {% for product_in_basket in products_in_basket %}
                                    <li>
                                        {{ product_in_basket.product.name }}, {{ product_in_basket.nmb }} шт. по {{ product_in_basket.price_per_item }} грн
                                        <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!--/.cartMenu-->
                </div>
                <!--/.navbar-nav hidden-xs-->
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-->
    </nav>
    <!--/.Fixed navbar-->