{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Section -->
<section class="section-main-banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url({% static '/img/main-slide-1.jpg' %})">
                <div class="carousel-caption">
                    <h3>Магазин детского настроения</h3>
                    <p>Добро пожаловать! Развивайтесь с нами.</p>
                    <div>
                        <img class="mouse" src="{% static 'img/mouse.svg' %}" alt="За покупками">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url({% static '/img/main-slide-2.jpg' %})">
                <div class="carousel-caption">
                  <h3>Second Slide</h3>
                  <p>This is a description for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url({% static '/img/main-slide-3.jpg' %})">
                <div class="carousel-caption">
                  <h3>Third Slide</h3>
                  <p>This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!-- End Section -->
<!-- Section -->
<section id="new_arrivals" class="section-main-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-heading justify-content-center">
                    <h2>Новые поступления</h2>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Product Slider -->
                <div id="productslider" class="product-slides owl-carousel owl-loaded owl-drag">
                    {% for product in new_arrivals %}

                        {% include 'landing/product_item.html' %}
                    
                    {% endfor %}
                </div>
                <!-- End Product Slider -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Main Slider -->
<!-- Section Parallax 1 -->
<section class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content">
                    <h1 class="parallaxPrice">1000 UAH</h1>
                    <h2 class="uppercase">получите бесплатную доставку при заказе от указанной суммы</h2>
                    <h3>Детали Вы можете уточнить у менеджера</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Microphones -->
<section id="microphones" class="section-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-heading justify-content-center">
                    <h2>Микрофоны-караоке</h2>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Product Slider -->
                <div id="productslider" class="product-slides owl-carousel owl-loaded owl-drag">
                    {% for product in nav_products_microphones %}  

                        {% include 'landing/product_item.html' %}
                    
                    {% endfor %}
                </div>
                <!-- End Product Slider -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<section class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content">
                    <h1 class="xlarge">Нам доверяют уже более 3 лет</h1>
                    <h5 class="parallaxSubtitle">Все представленные игрушки и книги разработаны с учётом возрастных и психологических особенностей ребёнка</h5>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Parallax 2 -->
<!-- Section Multiplayers -->
<section id="multiplayers" class="section-category" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-heading justify-content-center">
                    <h2>Мультиплееры</h2>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Product Slider -->
                <div id="productslider" class="product-slides owl-carousel owl-loaded owl-drag">
                    {% for product in nav_products_players %}  
                        {% include 'landing/product_item.html' %}
                    {% endfor %}
                </div>
                <!-- End Product Slider -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Multiplayers -->
{% endblock %}

{% block javascript %}

    <script>
        //Mouse click scroll
        $(document).ready(function () {
            $(".mouse").click(function () {
                $('html, body').animate({scrollTop: $('#new_arrivals').offset().top}, 1500);
            });
        });
    </script>

    <script>
        // Home Page Slider Initializer
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:25,
            nav:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:4
                }
            }
        });
    </script>

    <script type="text/javascript">
        // Catalog navigation
        $(document).ready(function(){
            $("#cat_dropdown").on("click", "a", function (event) {
                event.preventDefault();
                var id  = '#' + $(this).attr('href').split('#')[1],
                    top = $(id).offset().top;
                $('body,html').animate({scrollTop: top}, 1500);
            });
        });
    </script>

{% endblock %}