    
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Понравилось" data-placement="left">
                <!--JAVASCRIPT-->
                <i class="fas fa-heart"></i>
            </a>
            <div class="image">
                <a href="{% url 'product' product_image.product.id %}">
                    <img class="img-responsive" src="{{ product_image.image.url }}" alt="img">
                </a>
                <div class="promotion">
                    {% if product_image.product.is_new %}
                    <span class="new-product">NEW</span>
                    {% endif %}
                    {% if product_image.product.discount %}
                    <span class="discount">{{ product_image.product.discount }}% OFF</span>
                    {% endif %}
                </div>
            </div>
            <div class="description">
                <h4>
                    <a href="{% url 'product' product_image.product.id %}">{{ product_image.product.name }}</a>
                </h4>
                <p>
                    {{ product_image.product.short_description|truncatechars_html:70 }}
                </p>
                <span class="category">{{ product_image.product.category }}</span>
            </div>
            <div class="price">
                <span>{{ product_image.product.price }} UAH</span>
            </div>
            <form class="form-inline" id="main_page_add_to_cart_form" action="{% url 'add_to_cart' %}">{% csrf_token %}
                <div class="action-control">
                    <button class="btn btn-primary" id="main_page_submit_id_{{ product_image.product.id }}" type="submit" data-product_id="{{ product_image.product.id }}" data-name="{{ product_image.product.name }}" data-price="{{ product_image.product.price_with_discount }}" data-image="{{ product_image.image.url }}" data-qnty="1">
                        <span class="add2cart">
                            <i class="fas fa-cart-plus"></i>
                            В корзину
                        </span>
                    </button>
                </div>
            </form>
        </div>
    