{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container main-container headerOffset">
    <div class="row" style="margin-top: 40px;">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">На главную</a>
                </li>
                <li>
                    <a href="/#{{ product.category.name }}">{{ product.category.name }}</a>
                </li>
                <li class="active">
                    {{ product.name }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row transitionfx">
        <!-- left column -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- product image & zoom -->
            <div class="sp-loading"><img scr="{% static '/img/ajax-loader.gif' %}" alt=""><br>Изображение загружается</div>
            <div class="main-image sp-wrap col-lg-12 no-padding sp-non-touch" style="display: inline-block;">
                <a href="{{ product.product_main_image.image.url }}">
                    <img class="img-responsive" src="{{ product.product_main_image.image.url }}" alt="img">
                </a>
                {% for image in product.product_all_images %}
                    <a href="{{ image.image.url }}">
                        <img src="{{ image.image.url }}" alt="img">
                    </a>
                {% endfor %}
            </div>
        </div>
        <!--/ left column end -->
        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            <h1 class="product-title">{{ product.name }}</h1>
            <div class="rating">
                <p>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star-half"></i></span>
                    <span class="ratingInfo">
                        <span>/</span>
                        <i>Рейтинг</i>
                    </span>
                </p>
            </div>
            <div class="product-price">
                {% if product.discount %}
                    <span class="price-sales">{{ product.price_with_discount }} UAH</span>
                    <span class="price-standard">{{ product.price }} UAH</span>
                {% endif %}
                {% if not product.discount %}
                <span class="price-sales">{{ product.price }} UAH</span>
                {% endif %}
            </div>
            <div class="details-description">
                <p>
                    {{ product.description }}
                </p>
            </div>
            <div class="productFilter productFilterLook2">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="filterBox">
                            <form id="product_page_form" class="form-inline" action="{% url 'add_to_cart' %}">{% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-lg-4 col-sm-4 col-xs-4">
                                        <div class="input-group bootstrap-touchspin">
                                            <input type="text" class="form-control quanitySniper" name="quanitySniper" id="product_page_qnty" placeholder="Количество" value="1">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-4 col-xs-4">
                                        <button type="submit" class="btn btn-success" id="product_page_submit_btn" data-product_id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price_with_discount }}" data-image="{{ product.product_main_image.image.url }}">В корзину
                                        </button>
                                    </div> 
                                    <div class="form-group col-lg-4 col-sm-4 col-xs-4">
                                        <a href="{% url 'checkout' %}" class="btn btn-danger">Оформить заказ</a>
                                    </div>
                                </div>                          
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
            <!--/.productFilter-->
            {% if product.is_in_stock %}
                <h3 class="incaps">
                <i class="far fa-check-circle color-in"></i>
                    Товар в наличии
                </h3>
                {% elif product.is_on_demand %}
                    <h3 class="incaps">
                    <i class="far fa-clock color-demand"></i>
                        Товар под заказ
                    </h3>
                {% else %}
                    <h3 class="incaps">
                        <i class="fa fa-times-circle color-out"></i>
                        Товар закончился
                    </h3>
            {% endif %}
            <div class="product-tab w100 clearfix">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#details" data-toggle="tab">Тех.описание</a>
                    </li>
                    <li>
                        <a href="#additional" data-toggle="tab">Доп.информация</a>
                    </li>
                    <li>
                        <a href="#shipping" data-toggle="tab">Доставка</a>
                    </li>
                </ul>
                <!--Tab panes-->
                <div class="tab-content">
                    <div id="details" class="tab-pane active">
                        {{ product.description }}
                    </div>
                    <div id="additional" class="tab-pane">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident odio sunt accusamus aperiam explicabo ea laudantium, molestiae quasi nihil atque natus, quod ratione qui minima. Corrupti dolore, quas nobis sit!
                    </div> 
                    <div id="Доставка" class="tab-pane">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et beatae sint eius autem quae nostrum vel saepe, dolore, ipsum repellendus dicta voluptas iste mollitia asperiores ea ut similique aliquam reiciendis.
                    </div>  
                </div>
                <!--/.tab-content-->
            </div>
            <!--/.product-tab-->
            <div class="product-share clearfix">
                <p>ПОДЕЛИТЬСЯ</p>
                <div class="socialIcon" style="padding-bottom: 30px;">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
            <!--/.product-share-->
        </div>
        <!--/.right column end-->
    </div>
    <!--/.row-->
    <div style="clear: both;"></div>
</div>
<!--/.main-container-->
{% endblock %}