{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="product_landing" class="clearfix landing-area" style="padding-top: 300px;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="landing-heading">
                        <h4>{{ product.name }}</h4>
                        <h6>{{ product.name|slice:":1" }}</h6>
                        <p>{{ product.category.description }}</p>
                    </div>
                    <div class="buy-area">
                        <form method="post" id="landing_page_form" class="form-inline" action="{% url 'add_to_cart' %}">{% csrf_token %}
                            <div class="input-group bootstrap-touchspin">
                                <input type="text" class="form-control hidden landing-quantity" id="landing_page_qnty" value="1">
                                <button type="submit" class="btn btn-success landing-submit form-control" id="landing_page_submit_btn" data-product_id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price_with_discount }}" data-image="{{ product.product_main_image.image.url }}" data-qnty="1">КУПИТЬ</button>
                            </div>
                        </form>
                        <!-- FormEnd -->
                    </div>
                </div>
            </div>
            <!--<div class="landing-thumb" data-aos="fade-up">
                <img class="img-responsive" src="{{ product.product_main_image.image.url }}" alt="img">
            </div>-->
        </div>
    </section>
    <!-- Section -->
    <section id="landing_about" class="special-area bg-white section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="section-heading text-center">
                        <h2>Для кого?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <!-- rowEnd -->
            <div class="row">
                <!-- Single Special Area -->
                <div class="col-xs-12 col-sm-4">
                    <div class="single-special text-center" data-aos="fade-up">
                        <div class="single-icon">
                            <i class="ion-man"></i>
                            <i class="ion-woman"></i>
                        </div>
                        <h4>Пол:</h4>
                        <p>
                            Рядом с Вами будущий певец? Или певица? Не важно! Игрушка универсальна и подходит для любого ребенка
                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-xs-12 col-sm-4">
                    <div class="single-special text-center" data-aos="fade-up">
                        <div class="single-icon">
                            <i class="ion-ios-time-outline"></i>
                        </div>
                        <h4>Возраст:</h4>
                        <p>
                            Начинать петь никогда не поздно! Равно как и никогда не рано! Игрушка адаптирована для возраста 2-5 лет
                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-xs-12 col-sm-4">
                    <div class="single-special text-center" data-aos="fade-up">
                        <div class="single-icon">
                            <i class="ion-music-note"></i>
                        </div>
                        <h4>Содержание:</h4>
                        <p>
                            В игрушке 12 популярных песенок В. Шаинского, М. Танича и других известных композиторов
                        </p>
                    </div>
                </div>
            </div>
            <!-- rowEnd -->
            <div class="special-description-area mt-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="special-description-img">
                                <img class="img-responsive" src="{{ product.product_main_image.image.url }}" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="special-description-content">
                                <h2 class="text-center">Лучшее предложение для Вашей маленькой звезды!</h2>
                                <p align="justify">
                                    {{ product.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--endContainer-->
    </section>
    <section id="landing_features" class="awesome-feature-area bg-white section-padding-0-100 clearfix">
        <div class="container" style="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>Характеристики</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-sm-6">
                        <div class="single-feature text-center">
                            <i class="ion-cube"></i>
                            <h5>Размер упаковки:</h5>
                            <p>13,2х22,8х3,5 см</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-feature text-center">
                            <i class="ion-ios-loop"></i>
                            <h5>Размер товара:</h5>
                            <p>5х15 см</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-sm-6">
                        <div class="single-feature text-center">
                            <i class="ion-bag"></i>
                            <h5>Вид упаковки:</h5>
                            <p>Картонка с блистером</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-feature text-center">
                            <i class="ion-battery-half"></i>
                            <h5>Батарейки:</h5>
                            <p>AAA, 2 штуки (в комплекте)</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- rowEnd -->
        </div>
    </section>
    <section class="cool-facts-area clearfix" id="counters">
        <div class="container">
            <div class="row">
                <!--Single Cool Fact-->
                <div class="col-lg-12">
                    <div class="col-sm-3 col-md-3">
                        <div class="single-cool-fact d-flex justify-content-center" data-aos="fade-up">
                            <div class="counter-area">
                                <h3>
                                    <span class="counter" data-from="0" data-to="90" data-speed="3000"></span>
                                </h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-arrow-down-a"></i>
                                <p>ЗАКАЗОВ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="single-cool-fact d-flex justify-content-center" data-aos="fade-up">
                            <div class="counter-area">
                                <h3>
                                    <span class="counter" data-from="0" data-to="87" data-speed="3000"></span>
                                </h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-happy-outline"></i>
                                <p>ДОВОЛЬНЫХ КЛИЕНТОВ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="single-cool-fact d-flex justify-content-center" data-aos="fade-up">
                            <div class="counter-area">
                                <h3>
                                    <span class="counter counter-decimal" data-from="0" data-to="4.9" data-speed="3000"></span>
                                </h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-ios-star-outline"></i>
                                <p>СРЕДНИЙ РЕЙТИНГ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="single-cool-fact d-flex justify-content-center" data-aos="fade-up">
                            <div class="counter-area">
                                <h3>
                                    <span class="counter" data-from="0" data-to="2" data-speed="1000"></span>
                                </h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-model-s"></i>
                                <p>МАКСИМАЛЬНОЕ ВРЕМЯ ДОСТАВКИ (ДНЕЙ)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- rowEnd -->
        </div>
    </section>
    <section id="landing_pricing" class="pricing-plane-area section-padding-100-70 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>Цена</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="single-price-plan text-center">
                        <div class="package-plan">
                            <h5>Цена товара</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <h4>{{ product.price_with_discount }}<span> грн.</span></h4>
                            </div>
                            <div class="package-description">
                                {% if product.discount %}
                                <p>Цена УЖЕ со СКИДКОЙ</p>
                                <p>Ваша персональная скидка: {{ product.discount }} %</p>
                                <p>Обычная цена товара: {{ product.price }} грн.</p>
                                {% endif %}
                                <p>Наличие товара на складе: {% if product.is_in_stock %} В НАЛИЧИИ {% elif product.is_on_demand %} ПОД ЗАКАЗ {% else %} ОТСУТВУЕТ НА СКЛАДЕ {% endif %}</p>
                            </div>
                            <div class="plan-button">
                                <button type="submit" form="landing_page_form" class="landing-submit" data-product_id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price_with_discount }}" data-image="{{ product.product_main_image.image.url }}" data-qnty="1">ЗАКАЗАТЬ!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="landing_contact" class="footer-contact-area section_padding_100 clearfix" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Остались вопросы?</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p style="margin-bottom: 50px;">Если у Вас остались какие-либо вопросы - задавайте! Ответим максимально быстро!</p>
                    </div>
                    <div class="address-text">
                        <p>
                            <span>Адрес:</span>
                            г. Киев, Украина
                        </p>
                    </div>
                    <div class="phone-text">
                        <p>
                            <span>Телефон:</span>
                            +38 (050) 777-92-71
                        </p>
                    </div>
                    <div class="email-text">
                        <p>
                            <span>Email:</span>
                            jennyko2006@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <form action="#" method="post">
                            <div class="contact-input-area">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="landing_contact_name" id="landing_contact_name" placeholder="Как Вас зовут?" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="landing_contact_email" id="landing_contact_email" placeholder="Ваш Email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="landing_contact_text" id="landing_contact_text" placeholder="Ваше сообщение" cols=30 rows=4 required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn submit-btn">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="clear: both;"></div>
{% endblock %}