{% extends 'base.html' %}
{% load static %}

{% block auth %}
<section id="section_auth" class="section-auth section-padding-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li class="active">
					    Авторизация
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					<h2 class="text-white">Авторизация</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text">
					<p>Если уже регистрировались у нас, то просто войдите в свою учетную запись!</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="contact-form">
					<form action="{% url 'login' %}" role="form" method="post">{% csrf_token %}
						<div class="contact-input-area">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="email" id="user_email" class="form-control" placeholder="Введите email" name="{{ login_form.user_email.html_name }}" required>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="password" id="user_password" class="form-control" placeholder="Введите пароль" name="{{ login_form.user_password.html_name }}" required>
									</div>
								</div>
								{% if form_login.errors %}
								<p class="form-error">Не верно указан email или пароль. Пожалуйста, попробуйте еще раз.</p>
								{% endif %}
								{% if login_error %}
								<p class="form-error">{{ login_error }}</p>
								{% endif %}
								<div class="col-md-12">
									<div class="form-group">
										<p>
											<a title="Восстановить пароль" href="{% url 'password_reset' %}" style="color: #5b32b4;">
												Забыли пароль?
											</a>
										</p>
                                        <p>
                                            <a href="{% url 'register' %}" style="color: #5b32b4;">
												Зарегистрироваться
											</a>
                                        </p>
									</div>
								</div>
								<div class="col-md-12">
									<button type="submit" class="btn submit-btn">Войти</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					<h2>Гостевой режим</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text">
					<p>Если Вы не желаете регистрироваться на сайте, Вы можете оформить заказ в гостевом режиме с ограниченным функционалом магазина!</p>
				    <div class="get-back-button">
                        <a href="{% url 'checkout1' %}" style="background: #5b32b4; color: #fff;">Оформить как Гость</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<!-- End Section Auth -->
{% endblock %}