{% extends 'base.html' %}
{% load static %}

{% block auth %}
<div class="container main-container headerOffset">
	<div class="row">
		<div class="breadcrumbDiv col-lg-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">На главную</a>
				</li>
				<li class="active">
					Авторизация
				</li>
			</ul>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h1 class="section-title-inner">
				<span>
					<i class="fas fa-lock"></i>
					Авторизация
				</span>
			</h1>
			<div class="row userInfo">
				<div class="col-xs-12 col-sm-4">
					<h2 class="block-title-2">
						Создать аккаунт
					</h2>
					<form role="form">
						<div class="form-group">
							<label for="new_user_name">Как Вас зовут?</label>
							<input type="text" id="new_user_name" class="form-control" placeholder="Введите имя" name="{{ form_register.new_user_name.html_name }}">
						</div>
						<div class="form-group">
							<label for="new_user_email">Адрес email</label>
							<input type="email" id="new_user_email" class="form-control" placeholder="Введите email" name="{{ form_register.new_user_email.html_name }}">
						</div>
						<div class="form-group">
							<label for="new_user_password1">Пароль</label>
							<input type="password" id="new_user_password1" class="form-control" placeholder="Пароль" name="{{ form_register.new_user_password.html_name }}">
						</div>
						<div class="form-group">
							<label for="new_user_password2">Подтвердите пароль</label>
							<input type="password" id="new_user_password2" class="form-control" placeholder="Пароль еще раз" name="{{ form_register.new_user_password_repeat.html_name }}">
						</div>
						<button class="btn btn-primary" type="submit">
							<i class="fas fa-user-plus"></i>
							Создать аккаунт
						</button>
					</form>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h2 class="block-title-2">
						<span>Уже зарегистрированы?</span>
					</h2>
					<form action="/auth/login/" role="form" method="post">
						{{ form.as_p }}
						{% csrf_token %}
						<div class="form-group">
							<label for="user_email">Адрес email</label>
							<input type="email" id="user_email" class="form-control" placeholder="Введите email" name="{{ login_form.user_email.html_name }}" required>
						</div>
						<div class="form-group">
							<label for="user_password">Пароль</label>
							<input type="password" id="user_password" class="form-control" placeholder="Введите пароль" name="{{ login_form.user_password.html_name }}" required>
						</div>
						{% if form_login.errors %}
							<p class="form-error">Не верно указан email или пароль. Пожалуйста, попробуйте еще раз.</p>
						{% endif %}
						{% if error %}
							<p class="form-error">{{ error }}</p>
						{% endif %}
						<div class="checkbox">
							<label>
								<input name="ICheck" type="checkbox">
								Запомнить меня
							</label>
						</div>
						<div class="form-group">
							<p>
								<a title="Восстановить пароль" href="#">
									Забыли пароль?
								</a>
							</p>
						</div>
						<button class="btn btn-primary" type="submit" value="Войти">
							<i class="fas fa-sign-in-alt"></i>
							Войти
						</button>
					</form>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h2 class="block-title-2">
						<span>Войти как Гость</span>
					</h2>
					<p>
						У Вас нет аккаунта и Вы не желаете регистрироваться? Используйте гостевой режим!
					</p>
					<a class="btn btn-primary" href="/checkout1">
						<i class="fas fa-sign-in-alt"></i>
						Продолжить как Гость
					</a>
				</div>
			</div>
			<!--/.row end-->
		</div>
	</div>
	<div style="clear:both"></div>
</div>
<!--/.main container-->
<div class="gap"></div>
{% endblock %}