{% extends 'base.html' %}
{% load static %}

{% block auth %}
<section id="section_auth" class="section-auth section-padding-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li class="active">
					    Авторизация
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					<h2>Авторизация</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text">
					<p style="margin-bottom: 50px;">Если уже регистрировались у нас, то просто войдите в свою учетную запись!</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="contact-form">
					<form action="{% url 'login' %}" role="form" method="post">{% csrf_token %}
						<div class="contact-input-area">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="email" id="user_email" class="form-control" placeholder="Введите email" name="{{ login_form.user_email.html_name }}" required>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="password" id="user_password" class="form-control" placeholder="Введите пароль" name="{{ login_form.user_password.html_name }}" required>
									</div>
								</div>
								{% if form_login.errors %}
								<p class="form-error">Не верно указан email или пароль. Пожалуйста, попробуйте еще раз.</p>
								{% endif %}
								{% if login_error %}
								<p class="form-error">{{ login_error }}</p>
								{% endif %}
								<div class="col-md-12">
									<div class="form-group">
										<p>
											<a title="Восстановить пароль" href="{% url 'password_reset' %}" style="color: #5b32b4;">
												Забыли пароль?
											</a>
										</p>
									</div>
								</div>
								<div class="col-md-12">
									<button type="submit" class="btn submit-btn">Войти</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Auth -->

<!--
<div class="container main-container headerOffset">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="row userInfo">
				<div class="col-xs-12 col-sm-4">
					<form action="{% url 'login' %}" role="form" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="new_user_email">Адрес email (используется в качестве логина)</label>
							<input type="email" id="new_user_email" class="form-control" placeholder="Введите email" name="{{ reg_form.new_user_email.html_name }}">
						</div>
						<div class="form-group">
							<label for="new_user_name">Ваше имя</label>
							<input type="text" id="new_user_name" class="form-control" placeholder="Введите имя" name="{{ reg_form.new_user_name.html_name }}">
						</div>
						<div class="form-group">
							<label for="new_user_password">Пароль</label>
							<input type="password" id="new_user_password" class="form-control" placeholder="Пароль" name="{{ reg_form.password.html_name }}">
						</div>
						<div class="form-group">
							<label for="new_user_password_repeat">Подтвердите пароль</label>
							<input type="password" id="new_user_password_repeat" class="form-control" placeholder="Пароль еще раз" name="{{ reg_form.password_repeat.html_name }}">
						</div>
						{% if reg_error %}
							<p class="form-error">{{ reg_error }}</p>
						{% endif %}
						<button class="btn btn-primary" type="submit" value="Зарегистрироваться">
							<i class="fas fa-user-plus"></i>
							Создать аккаунт
						</button>
					</form>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h2 class="block-title-2">
						<span>Войти как Гость</span>
					</h2>
					<p>
						У Вас нет аккаунта и Вы не желаете регистрироваться? Используйте гостевой режим!
					</p>
					<a class="btn btn-primary" href="{% url 'home' %}">
						<i class="fas fa-sign-in-alt"></i>
						Продолжить как Гость
					</a>
				</div>
			</div>

		</div>
	</div>
	<div style="clear:both"></div>
</div>

<div class="gap"></div>-->
{% endblock %}