{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<section class="section-password-change section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li>
					    <a href="{% url 'user_my_profile' %}">Мой профиль</a>
				    </li>
				    <li class="active">
					    Смена пароля
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading" style="text-align: center;">
					<h2 class="text-white">Смена пароля</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text">
					<p>Для смены пароля сначала введите Ваш текущий пароль, а затем - новый.</p>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
					<form method="POST" action="." class="password_change">
        			{% csrf_token %}
        				<div class="contact-input-area">
        					<div class="row">
        						<div class="col-md-12">
        							<div class="form-group">
        								{% render_field form.old_password|add_class:"form-control"|attr:"autofocus" placeholder="Текущий пароль" %}
        							</div>
        							<div class="form-group">
        								{% render_field form.new_password1|add_class:"form-control" placeholder="Новый пароль" %}
        							</div>
        							<div class="form-group">
        								{% render_field form.new_password2|add_class:"form-control" placeholder="Новый пароль еще раз" %}
        							</div>
        						</div>
        					</div>
        				</div>
        				<div class="text-center">
        					<button class="btn submit-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>Сменить пароль</button>
        				</div>
        				{% if form.errors %}
                        <div class="form-error text-center">
                            <p>Ошибки:</p>
                            <ul>
                            {% for field in form %}
                                {% for error in field.errors %}    
                                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}    
                                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
    				</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}