{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>E-mail адреса</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        E-mail адреса
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-email">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text text-center">
                    <p>Здесь можно изменить ваш текущий электронный адрес.</p>
                    {% if user.email %}
                    <p>Следующий e-mail адрес прикреплен к Вашему аккаунту: <span style="color: #6E52E5; font-weight: bolder;">{{ user.email }}</span></p>
                    {% else %}
                    <p>Внимание! На данный момент у Вас нет привязанных e-mail адресов. Чтобы получать уведомления сайта при оформлении заказов, а также для сброса/восстановления вашего пароля, необходимо добавить электронный адрес!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px;">
                {% if user.email %}
                <form action="{% url 'email_change' %}" method="post">
                {% csrf_token %}
                    <div class="wrap-input100">
                        <label for="{{ form.new_email1.auto_id }}" class="label-input100">{{ form.new_email1.label }}</label>
                        {% render_field form.new_email1|add_class:"input100" %}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100">
                        <label for="{{ form.new_email2.auto_id }}" class="label-input100">{{ form.new_email2.label }}</label>
                        {% render_field form.new_email2|add_class:"input100" %}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="text-center">
                        <button class="btn submit-btn" type="submit" name="action" value="{% trans 'Change Email' %}"/>Изменить email</button>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}