{% extends 'base.html' %}
{% load static %}

{% block dashboard %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Профиль</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Профиль
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-my-profile">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text text-center">
					<p>Добро пожаловать в личный кабинет! Здесь можно изменить персональную информацию, учётные данные, а также просмотреть историю заказов и отзывов.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3"></div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="single-dashboard-item">
					<div class="dashboard-image">
						<img src="{% static 'img/accounts/dashboard-orders.jpg' %}" alt="">
						<div class="dashboard-hover-effects">
							<div class="dashboard-goto-icon">
								<a href="{% url 'user_my_orders' %}">Перейти</a>
							</div>
						</div>
					</div>
					<div class="dashboard-text">
						<h4>Мои заказы</h4>
						<p style="font-weight: 400;">Посмотреть статус и историю заказов</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="single-dashboard-item">
					<div class="dashboard-image">
						<img src="{% static 'img/accounts/dashboard-credentials.jpg' %}" alt="">
						<div class="dashboard-hover-effects">
							<div class="dashboard-goto-icon">
								<a href="{% url 'user_my_profile' %}">Перейти</a>
							</div>
						</div>
					</div>
					<div class="dashboard-text">
						<h4>Мой профиль</h4>
						<p style="font-weight: 400;">Редактировать учетные данные, изменить пароль или удалить аккаунт</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3"></div>
		</div>
    </div>
    <!-- End Container -->
</section>
<!-- End Section Dashboard -->

{% endblock dashboard %}