{% extends 'base.html' %}
{% load static %}

{% block auth %}
<section id="section_register" class="section-register section-padding-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
				    <li class="active">
					    Регистрация
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					<h2 class="text-white">Регистрация</h2>
					<div class="line-shape"></div>
				</div>
				<div class="footer-text">
					<p>Для того, чтобы полноценно использовать функционал нашего магазина, рекомендуем пройти несложную процедуру регистрации!</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="contact-form">
					<form action="{% url 'register' %}" role="form" method="post">{% csrf_token %}
						<div class="contact-input-area">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="email" id="new_user_email" class="form-control" placeholder="Введите email" name="{{ reg_form.new_user_email.html_name }}">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" id="new_user_name" class="form-control" placeholder="Введите имя" name="{{ reg_form.new_user_name.html_name }}">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="password" id="new_user_password" class="form-control" placeholder="Пароль" name="{{ reg_form.password.html_name }}">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="password" id="new_user_password_repeat" class="form-control" placeholder="Пароль еще раз" name="{{ reg_form.password_repeat.html_name }}">
									</div>
								</div>
								{% if form_login.errors %}
								<p class="form-error">Не верно указан email или пароль. Пожалуйста, попробуйте еще раз.</p>
								{% endif %}
								{% if reg_error %}
								<p class="form-error">{{ reg_error }}</p>
								{% endif %}
								<div class="col-md-12">
									<button type="submit" class="btn submit-btn">Создать аккаунт</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Auth -->
{% endblock %}