{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Установка нового пароля</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'account_login' %}">Авторизация</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Установка нового пароля
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-password-change">
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="footer-text text-center">
					<p>Придумайте ваш новый пароль</p>
					<form method="POST" action=".">
        			{% csrf_token %}
        				<div class="contact-input-area">
        					<div class="row">
                                <div class="col-lg-3 col-md-3"></div>
        						<div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px;">
        							<div class="wrap-input100">
                                        <label for="{{ form.new_password1.auto_id }}" class="label-input100">{{ form.new_password1.label }}</label>
        								{% render_field form.new_password1|add_class:"input100" %}
                                        <span class="focus-input100"></span>
        							</div>
        							<div class="wrap-input100">
                                        <label for="{{ form.new_password2.auto_id }}" class="label-input100">{{ form.new_password2.label }}</label>
        								{% render_field form.new_password2|add_class:"input100" %}
                                        <span class="focus-input100"></span>
        							</div>
        						</div>
                                <div class="col-lg-3 col-md-3"></div>
        					</div>
        				</div>
        				<div class="form-group text-center">
        					<button class="btn submit-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>Установить пароль</button>
        				</div>
    				</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}