{% extends 'base.html' %}
{% load static %}
{% load i18n avatar_tags %}

{% block dashboard %}
<section class="section-profile section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
                    <li>
					    <a href="{% url 'user_dashboard' %}">Личный кабинет</a>
				    </li>
				    <li class="active">
					    Мой профиль
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					<h2 class="text-white">Мой профиль</h2>
					<div class="line-shape"></div>
				</div>
			</div>
			<div class="col-12">
				<div class="footer-text">
					<p>Здесь можно отредактировать Ваши персональные данные. При необходимости можно также изменить Ваш пароль или удалить аккаунт.</p>
				</div>
			</div>
		</div>
		<!-- End Row -->
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-myaddress.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if user.profile.delivery_city %}
                                <a href="{% url 'add_address' %}">Редактировать</a>
                                {% else %}
                                <a href="{% url 'add_address' %}">Добавить</a>
                                {% endif %}
                                <a href="" id="my_profile_address_delete">Удалить</a>
                                <form id="my_profile_address_delete_form" action="{% url 'delete_address' %}">{% csrf_token %}</form>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Адрес доставки</h4>
						<p class="address-line" style="font-weight: 400;">
                            {% if user.profile.delivery_city %}
                                {{ user.profile.delivery_area }}, {{ user.profile.delivery_city }}, {{ user.profile.delivery_address }}
                            {% else %}
                                Вы не указали адрес доставки
                            {% endif %}
                        </p>
					</div>
				</div>
			</div>
            <div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-personal.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
                                <a href="{% url 'add_personal' %}">Редактировать</a>
                                <a href="" id="my_personal_delete">Удалить</a>
                                <form id="my_personal_delete_form" action="{% url 'delete_personal' %}">{% csrf_token %}</form>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Личные данные</h4>
						<p class="profile-firstname" style="font-weight: 400;">
                            {% if user.first_name %}
                                Имя: {{ user.first_name }}
                            {% else %}
                                Вы не указали имя
                            {% endif %}
                        </p>
                        <p class="profile-phone" style="font-weight: 400;">
                            {% if user.profile.phone %}
                                Телефон: {{ user.profile.phone }}
                            {% else %}
                                Вы не указали контактный номер телефона
                            {% endif %}
                        </p>
					</div>
				</div>
			</div>
            <div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-password.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if not user.has_usable_password %}
								<a href="{% url 'account_set_password' %}">Установить</a>
								{% endif %}
                                <a href="{% url 'account_reset_password' %}">Сменить пароль</a>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Пароль</h4>
						<p style="font-weight: 400;">
                            Вы можете при необходимости изменить Ваш текущий пароль.
                        </p>
					</div>
				</div>
			</div>
            <div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-delete.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
                                <!-- Button trigger modal -->
                                <button id="account_delete" type="button" data-href="{% url 'login' %}" data-toggle="modal" data-target="#deleteModalCenter">
									Удалить аккаунт
								</button>
                                <form id="my_account_delete_form" action="{% url 'delete_account' %}">{% csrf_token %}</form>
								<form action="{% url 'home' %}" id="go_home_form"></form>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Удаление аккаунта</h4>
						<p style="font-weight: 400;">
                            Полностью удалить Ваш аккаунт на сайте ЁжиК.
                        </p>
					</div>
				</div>
			</div>
		</div>
        <!-- End Row -->
        <div class="row">
        	<div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-myaddress.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if request.user|has_avatar %}
                                <a href="{% url 'avatar_change' %}">Изменить</a>
                                <a href="{% url 'avatar_delete' %}" id="my_avatar_delete">Удалить</a>
                                {% else %}
                                <a href="{% url 'avatar_add' %}">Добавить</a>
                                {% endif %}
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Аватар</h4>
					</div>
				</div>
			</div>
        </div>
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden='true'>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
							<h5 class="modal-title" id="deleteModalCenterTitle"><strong style="color: #5b32b4;">Внимание! Удаление аккаунта {{ user.username }}!</strong></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Если Вы действительно желаете удалить аккаунт, нажмите кнопку "Удалить". Все Ваши данные будут удалены и восстановить их будет уже нельзя. Удалить?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn submit-btn" data-dismiss="modal">Отменить</button>
                            <button type="button" class="btn submit-btn btn-delete">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</section>
<!-- End Section Profile -->
{% endblock %}