{% extends 'base.html' %}
{% load static %}

{% block dashboard %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Детали заказа {{ order.id }}</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'user_my_orders' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Детали заказа
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-order-info">
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="footer-text text-center">
					<p>Детальная информация по заказу № {{ order.id }} представлена ниже.</p>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-12 box mt-0 mb-lg-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                               <th class="border-top-0" colspan="2">Товар</th>
                               <th class="border-top-0">Количество</th>
                               <th class="border-top-0">Цена</th>
                            </tr>
                        </thead>
                        {% for item in order_items %}
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'product_land' item.product.id %}">
                                        <img src="{{ item.product.product_main_image.image.url }}" class="img-fluid">
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'product_land' item.product.id %}">{{ item.product.name }}</a>
                                </td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                <th class="text-left" colspan="2">Статус заказа:</th>
                                <th>{{ order.status.name }}</th>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="2">Сумма по заказу:</th>
                                <th>{{ order.total_order_amount }} грн.</th>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="2">Адрес доставки:</th>
                                <th colspan="2">{{ order.customer_address }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</section>
<!-- End Section Order Info -->
{% endblock %}