{% extends 'base.html' %}
{% load static %}

{% block dashboard %}
<section id="section_add_personal" class="section-add-personal section-padding-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
                    <li>
					    <a href="{% url 'user_dashboard' %}">Личный кабинет</a>
				    </li>
					<li>
					    <a href="{% url 'user_my_profile' %}">Мой профиль</a>
				    </li>
				    <li class="active">
				    	{% if user.first_name %}
					    Редактирование личной информации
					    {% else %}
					    Добавление личной информации
				    	{% endif %}
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					{% if user.first_name %}
					<h2 class="text-white">Редактирование личной информации</h2>
					{% else %}
					<h2 class="text-white">Добавление личной информации</h2>
				    {% endif %}
					<div class="line-shape"></div>
				</div>
				<div class="footer-text" style="line-height: 30px;">
					<p>Чтобы добавить или изменить Вашу личную информацию, заполните или отредактируйте форму.</p>
				</div>
			</div>
			<div class="col-md-6">
				<form action="{% url 'add_personal' %}" role="form" method="post">{% csrf_token %}
                    <div class="form-group required">
                        <label for="user_firstname" style="color: #5b32b4;">Текущее имя<sup>*</sup></label>
                        <input type="text" name="user_firstname" id="user_firstname" class="form-control" placeholder="{% if user.first_name %}{{ user.first_name }}{% else %}Вы еще не сообщили нам своё имя{% endif %}" autofocus value="{{ request.POST.user_firstname }}"></input>
                    </div>
                    <div class="form-group required">
                        <label for="user_phone" style="color: #5b32b4;">Текущий контактный номер телефона<sup>*</sup></label>
                        <input type="tel" name="profile_phone" id="user_phone" class="form-control phone-mask" placeholder="{% if user.profile.phone %}{{ user.profile.phone }}{% else %}Вы еще не сообщили нам свой номер телефона{% endif %}" value="{{ request.POST.profile_phone }}"></input>
                    </div>
                    <p class="form-error">{% if message %}{{ message }}{% endif %}</p>
                    <button type="submit" class="btn submit-btn">
                        <i class="fas fa-map-marker-alt"></i>
                        Сохранить
                    </button>
				</form>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Profile -->
{% endblock dashboard %}