{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block dashboard %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>{% if user.profile.delivery_city %}
                        Редактирование адреса
                        {% else %}
                        Добавление адреса
                        {% endif %}</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'user_my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        {% if user.profile.delivery_city %}
                        Редактирование адреса
                        {% else %}
                        Добавление адреса
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-profile-address">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text text-center">
					<p>
						{% if user.profile.delivery_city %}
							Вы можете отредактировать адрес доставки, изменив указанные в форме данные! Из выпадающих списков необходимо выбрать область и город. В поле "Дополнительная информация" укажите "самовывоз", если будете забирать товар самостоятельно, или укажите в этом поле номер и адрес отделения перевозчика или полной почтовый адрес для отправки Укрпочтой!
						{% else %}
							Добавьте адрес доставки в Ваш профиль, чтобы при оформлении заказов не нужно было заполнять его вручную. Если заказ нужно отправить не по основному адресу (например, кому-нибудь на подарок), Вы всегда сможете изменить эти данные на этапе оформление нового заказа! Из выпадающих списков необходимо выбрать область и город. В поле "Дополнительная информация" укажите "самовывоз", если будете забирать товар самостоятельно, или укажите в этом поле номер и адрес отделения перевозчика или полной почтовый адрес для отправки Укрпочтой!
						{% endif %}
					</p>
				</div>
			</div>
			<div class="col-12">
				<div class="footer-text text-center">
					{% if user.profile.delivery_city %}
					<p style="color: #6E52E5;">Текущий адрес доставки: {{ user.profile.delivery_area }}, {{ user.profile.delivery_city }}, {{ user.profile.delivery_address }}</p>
					{% endif %}
                    {% if message_success %}
                    <p style="color: #6E52E5;">{{ message_success }}</p>
                    {% endif %}
				</div>
			</div>
        </div>
        <!-- End Row -->
        <form action="{% url 'add_address' %}" role="form" method="post">
        {% csrf_token %}
            <div class="row">
			    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                    <div class="wrap-input100">
                        <label for="{{ form.delivery_area.auto_id }}" class="label-input100">{{ form.delivery_area.label }}</label>
                        {% render_field form.delivery_area class="select-container input100" %}
                        <span class="focus-input100"></span>
					</div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
					<div class="wrap-input100">
                        <label for="{{ form.delivery_city.auto_id }}" class="label-input100">{{ form.delivery_city.label }}</label>
                        {% render_field form.delivery_city class="select-container input100" disabled=true %}
                        <span class="focus-input100"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                    <div class="wrap-input100">
                        <label for="{{ form.delivery_address.auto_id }}" class="label-input100">{{ form.delivery_address.label }}</label>
                        {% render_field form.delivery_address class="input100" %}
                        <span class="focus-input100"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                    <div class="container-addpersonal100-form-btn">
                        <button class="addpersonal100-form-btn" type="submit">{% if user.profile.delivery_city %}Изменить{% else %}Добавить{% endif %}</button>
                    </div>
			    </div>
            </div>
        </form>
    </div>
    <!-- End Container -->
</section>
<!-- End Section Profile -->
{% endblock %}