{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block dashboard %}
<section id="section_profile" class="section-profile section-padding-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; margin-bottom: 374px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'home' %}">На главную</a>
				    </li>
                    <li>
					    <a href="{% url 'user_dashboard' %}">Личный кабинет</a>
				    </li>
					<li>
					    <a href="{% url 'user_my_profile' %}">Мой профиль</a>
				    </li>
				    <li class="active">
				    	{% if user.profile.delivery_city %}
					    Редактирование адреса
					    {% else %}
					    Добавление адреса
				    	{% endif %}
				    </li>
			    </ul>
            </div>
        </div>
        <!-- End Row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-heading">
					{% if user.profile.delivery_city %}
					<h2 class="text-white">Редактирование адреса</h2>
					{% else %}
					<h2 class="text-white">Добавление адреса</h2>
				    {% endif %}
					<div class="line-shape"></div>
				</div>
				<div class="footer-text" style="line-height: 30px;">
					<p>{% if user.profile.delivery_city %}Вы можете отредактировать адрес доставки, изменив указанные в форме данные! Выберите область и город. Если желаете забирать товар самостоятельно, то поле "Дополнительная информация" можно оставить пустым. Если потребуется доставка, то укажите в этом поле номер и адрес отделения перевозчика или полной почтовый адрес, если отправка будет Укрпочтой!{% else %}Добавьте адрес доставки в Ваш профиль. Тогда при оформлении заказов Вам не нужно будет заполнять адрес доставки. Если же заказ нужно будет отправить не по основному адресу (например, кому-нибудь на подарок, Вы всегда сможете изменить эти данные на этапе оформление нового заказа! Выберите область и город. Если желаете забирать товар самостоятельно, то поле "Дополнительная информация" можно оставить пустым. Если потребуется доставка, то укажите в этом поле номер и адрес отделения перевозчика или полной почтовый адрес, если отправка будет Укрпочтой!{% endif %}</p>
				</div>
			</div>
			<div class="col-md-6">
				<form action="{% url 'add_address' %}" role="form" method="post">{% csrf_token %}
					<div class="form-group">
						<label for="profile_delivery_address"><p class="text-white">Текущий адрес доставки</p></label>
						<textarea name="profile_delivery_address" id="profile_delivery_address" cols="26" rows="2" class="form-control" placeholder="{% if user.profile.delivery_city %}{{ user.profile.delivery_area }}, {{ user.profile.delivery_city }}, {{ user.profile.delivery_address }}{% else %}У вас пока нет сохраненных адресов доставки{% endif %}" readonly></textarea>	
					</div>
					<p style="color: #5b32b4; font-weight: bolder;">{% if user.profile.delivery_city %}Изменить адрес доставки{% else %}Добавить адрес доставки{% endif %}</p>
					<div class="form-group required">
                        <label style="color: #5b32b4;" for="{{ form.anonymous_area.id_for_label }}">{{ form.anonymous_area.label }}<sup>*</sup></label>
                        {{ form.anonymous_area|add_class:"form-control" }}
					</div>
					<div class="form-group required">
                        <label style="color: #5b32b4;" for="{{ form.anonymous_city.id_for_label }}">{{ form.anonymous_city.label }}<sup>*</sup></label>
                        {{ form.anonymous_city|add_class:"form-control"|attr:"disabled" }}
                    </div>
                    <div class="form-group">
                        <label style="color: #5b32b4;" for="{{ form.anonymous_additional.id_for_label }}">{{ form.anonymous_additional.label }}</label>
                        {{ form.anonymous_additional|add_class:"form-control" }}
                    </div>
                    <div style="margin-top: 30px;">
                        <button class="btn submit-btn" type="submit">{% if user.profile.delivery_city %}Изменить{% else %}Добавить{% endif %}</button>
                    </div>
				</form>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section Profile -->
{% endblock %}