{% extends 'base.html' %}
{% load static %}
{% load i18n avatar_tags %}

{% block dashboard %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Профиль</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Профиль
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-profile">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text text-center">
					<p>Здесь можно отредактировать персональные данные (адрес доставки, имя и телефон), а также изменить или удалить оставленные отзывы на товары. При необходимости возможно также изменить пароль или удалить аккаунт.</p>
				</div>
			</div>
		</div>
		<!-- End Row -->
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-myaddress.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if user.profile.delivery_city %}
                                <a href="{% url 'add_address' %}">Редактировать</a>
                                {% else %}
                                <a href="{% url 'add_address' %}">Добавить</a>
                                {% endif %}
                                <a href="" id="my_profile_address_delete">Удалить</a>
                                <form id="my_profile_address_delete_form" action="{% url 'delete_address' %}">{% csrf_token %}</form>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Адрес доставки</h4>
						<p class="address-line" style="font-weight: 400;">
                            {% if user.profile.delivery_city %}
                                {{ user.profile.delivery_area }}, {{ user.profile.delivery_city }}, {{ user.profile.delivery_address }}
                            {% else %}
                                Вы не указали адрес доставки
                            {% endif %}
                        </p>
					</div>
				</div>
			</div>
            <div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-personal.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
                                <a href="{% url 'add_personal' %}">Редактировать</a>
                                <a href="" id="my_personal_delete">Удалить</a>
                                <form id="my_personal_delete_form" action="{% url 'delete_personal' %}">{% csrf_token %}</form>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Личные данные</h4>
						<p class="profile-firstname" style="font-weight: 400;">
                            {% if user.first_name %}
                                Имя: {{ user.first_name }}
                            {% else %}
                                Вы не указали имя
                            {% endif %}
                        </p>
                        <p class="profile-phone" style="font-weight: 400;">
                            {% if user.profile.phone %}
                                Телефон: {{ user.profile.phone }}
                            {% else %}
                                Вы не указали контактный номер телефона
                            {% endif %}
                        </p>
					</div>
				</div>
			</div>
            <div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-password.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if not user.has_usable_password %}
								<a href="{% url 'password_set' %}">Установить</a>
								{% else %}
                                <a href="{% url 'password_change' %}">Сменить пароль</a>
                                {% endif %}
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Пароль</h4>
						<p style="font-weight: 400;">
                            Вы можете при необходимости изменить Ваш текущий пароль.
                        </p>
					</div>
				</div>
			</div>
            <div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-delete.jpg' %}" alt="">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
                                <!-- Button trigger modal -->
                                <button id="account_delete" type="button" data-href="{% url 'account_login' %}" data-toggle="modal" data-target="#deleteModalCenter">
									Удалить аккаунт
								</button>
                                <form id="my_account_delete_form" action="{% url 'delete_account' %}">{% csrf_token %}</form>
								<form action="{% url 'home' %}" id="go_home_form"></form>
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Удаление аккаунта</h4>
						<p style="font-weight: 400;">
                            Полностью удалить Ваш аккаунт на сайте ЁжиК.
                        </p>
					</div>
				</div>
			</div>
		</div>
        <!-- End Row -->
        <div class="row">
        	<div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-avatar.jpg' %}" alt="dashboard-avatar">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if request.user|has_avatar %}
                                <a href="{% url 'avatar_add' %}">Изменить</a>
                                <a href="{% url 'avatar_delete' %}" id="my_avatar_delete">Удалить</a>
                                {% else %}
                                <a href="{% url 'avatar_add' %}">Добавить</a>
                                {% endif %}
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Аватар</h4>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="single-profile-item">
					<div class="profile-image">
						<img src="{% static 'img/accounts/dashboard-review.jpg' %}" alt="dashboard-review">
						<div class="profile-hover-effects">
							<div class="profile-goto-icon">
								{% if request.user.review_set.all %}
                                <a href="{% url 'user_my_reviews' %}">Изменить</a>
                                {% else %}
                                <a href="">Нет отзывов</a>
                                {% endif %}
							</div>
						</div>
					</div>
					<div class="profile-text">
						<h4>Мои отзывы</h4>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>
<!-- Profile Delete Modal -->
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden='true'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
				<h5 class="modal-title" id="deleteModalCenterTitle"><strong style="color: #6E52E5;">Внимание! Удаление аккаунта {{ user.username }}!</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
            </div>
            <div class="modal-body">
                <p>
                    Если Вы действительно желаете удалить аккаунт, нажмите кнопку "Удалить". Все Ваши данные будут удалены и восстановить их будет уже нельзя. Удалить?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn submit-btn" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn submit-btn btn-delete">Удалить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	<script>
		// Address delete on AJAX
	    $('#my_profile_address_delete').on('click', function(e) {
	        e.preventDefault();
	        var address_delete_form = $('#my_profile_address_delete_form');
	        var url = address_delete_form.attr('action');
	        var csfr_token = $('#my_profile_address_delete_form [name="csrfmiddlewaretoken"]').val();
	        data = {}
	        data["csrfmiddlewaretoken"] = csfr_token;
	        $.ajax({
	            url: url,
	            type: 'POST',
	            data: data,
	            cache: true,
	            success: function(data) {
	                if (!data.profile_delivery_city) {
	                    $('.address-line').html("");
	                    $('.address-line').text("Вы не указали адрес доставки");
	                };
	            }
	        });
	    });
	</script>
	<script>
		// Name and Phone delete on AJAX
	    $('#my_personal_delete').on('click', function(e) {
	        e.preventDefault();
	        var personal_delete_form = $('#my_personal_delete_form');
	        var url = personal_delete_form.attr('action');
	        var csfr_token = $('#my_personal_delete_form [name="csrfmiddlewaretoken"]').val();
	        data = {}
	        data["csrfmiddlewaretoken"] = csfr_token;
	        $.ajax({
	            url: url,
	            type: 'POST',
	            data: data,
	            cache: true,
	            success: function(data) {
	                if (!data.user_firstname && !data.profile_phone) {
	                    $('.profile-firstname, .profile_phone').html("");
	                    $('.profile-firstname').text("Вы не указали имя");
	                    $('.profile-phone').text("Вы не указали контактный номер телефона");
	                };
	            }
	        });
	    });
	</script>
	<script>
		// Modal window on account deletion (delete confirmation & delete process)
	    $('div#deleteModalCenter').on('show.bs.modal', function(e) {
	        $(this).find('.btn-delete').attr('href', $(e.relatedTarget).data('href'));
	    });
	    $('div#deleteModalCenter').on('click', '.btn-delete', function(e) {
	        e.preventDefault();
	        var account_delete_form = $('#my_account_delete_form');
	        var url = account_delete_form.attr('action');
	        var go_home_form = $('#go_home_form');
	        var redirect_url = go_home_form.attr('action');
	        var csfr_token = $('#my_account_delete_form [name="csrfmiddlewaretoken"]').val();
	        data = {};
	        data["csrfmiddlewaretoken"] = csfr_token;
	        $.ajax({
	            url: url,
	            type: 'POST',
	            data: data,
	            cache: true,
	            success: function(data) {
	                window.location.href = redirect_url;
	            }
	        })
	    });
	</script>
{% endblock javascript %}