{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load products_tags %}

{% block content %}
<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Отзывы о товарах</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Отзывы о товарах
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-reviews">
    <div class="container">
		<div class="row">
            <div class="col">
                <div class="footer-text text-center">
                    <p>В этом разделе Вы можете получить доступ ко всем Вашим отзывам на товары. Вы можете изменить их текст или удалить их</p>
                    {% if not feedbacks %}
                    <p>Пока Вы еще не оставляли отзывов о наших товарах</p>
                    {% endif %}
                </div>
            </div>
		</div>
		<!-- End Row -->
        <div class="row">
            <div class="col-12 order-box mt-0 mb-lg-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                               <th class="border-top-0">Товар</th>
                               <th class="border-top-0">Дата</th>
                               <th class="border-top-0">Оценка</th>
                               <th class="border-top-0">Отзыв</th>
                               <th class="border-top-0">Действие</th>
                            </tr>
                        </thead>
                        {% for feedback in feedbacks %}
                        <tbody>
                            <th><a href="{% url 'product_land' feedback.product.id %}">{{ feedback.product.name }}</a></th>
                            <td>{{ feedback.created }}</td>
                            <td class="text-center star-rating">{% for item in feedback.score|times %}
                                    <i class="ion-ios-star"></i>
                                {% endfor %}</td>
                            <td class="text-justify">
                                {{ feedback.text }}
                                {% if feedback.updated %}
                                <br><i>(Отредактировано: {{ feedback.updated }})</i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="" class="button-review-view" id="change_feedback_button" data-toggle="modal" data-target="#changefeedbackModal" data-review_id="{{ feedback.id }}" data-feedback_score="{{ feedback.score }}" data-feedback_text="{{ feedback.text }}" data-feedback_product="{{ feedback.product.name }}">Изменить</a>
                                <a class="button-review-view" href="" data-toggle="modal" data-target="#deletefeedbackModal" data-feedback_id="{{ feedback.id }}">Удалить</a>
                            </td>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</section>
<!-- End Section Orders -->
<!-- Modal Change Feedback -->
<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="modal fade" id="changefeedbackModal" tabindex="-1" role="dialog" aria-labelledby="addfeedbackModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changefeedbackModalLabel">Редактирование отзыва</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col">
                                <div class="review-form-container">
                                    <form method="POST" action="." id="feedback_change_form">
                                    {% csrf_token %}
                                        <p class="change-feedback-product"></p>
                                        <input type="hidden" id="review_id" />
                                        <div class="wrap-input100">
                                            <label for="{{ form.score.auto_id }}" class="label-input100">{{ form.score.label }}</label>
                                            {% render_field form.score|add_class:"input100" %}
                                            <span class="focus-input100"></span>
                                        </div>
                                        <div class="wrap-input100">
                                            <label for="{{ form.text.auto_id }}" class="label-input100">{{ form.text.label }}</label>
                                            {% render_field form.text|add_class:"input100" %}
                                            <span class="focus-input100"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button form="feedback_change_form" class="btn submit-btn" type="submit">Редактировать</button>
                            <button type="button" class="btn submit-btn" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Feedback -->
<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="modal fade" id="deletefeedbackModal" tabindex="-1" role="dialog" aria-labelledby="addfeedbackModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deletefeedbackModalLabel">Удаление отзыва</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="review_delete_form" action="{% url 'delete_review' %}">{% csrf_token %}
                                <input id="delete_input" type="hidden" />
                            </form>
                            <form action="{% url 'user_my_reviews' %}" id="go_back_form"></form>
                            <p>Вы действительно желаете удалить данный отзыв? (После этого возможно будет оставить новый отзыв на странице товара)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn submit-btn" data-dismiss="modal">Отменить</button>
                            <button type="submit" class="btn submit-btn btn-delete">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
        $('#changefeedbackModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var review_id = button.data('review_id');
            var product = button.data('feedback_product');
            var score = button.data('feedback_score');
            var text = button.data('feedback_text');
            var modal = $(this);
            modal.find('#review_id').attr('value', review_id);
            modal.find('#review_id').attr('name', 'review_id');
            modal.find('.change-feedback-product').text('Товар: ' + product);
            modal.find('#id_text').attr('value', text);
            modal.find('#id_text').text(text);
            modal.find('#id_score').attr('value', score);
            modal.find('#id_score').text(score);
        })
    </script>
    <script>
        $('#deletefeedbackModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var feedback_id = button.data('feedback_id');
            var modal = $(this);
            modal.find('#delete_input').attr('value', feedback_id);
        })
    </script>
    <script>
        // My Profile Reviews Page review delete button
        $('#deletefeedbackModal .btn-delete').on('click', function(e) {
            e.preventDefault();
            var form = $('#review_delete_form');
            var url = form.attr('action');
            var csfr_token = $('#review_delete_form [name="csrfmiddlewaretoken"]').val();
            var feedback_id = $('#delete_input').val();
            var redirect_url = $('#go_back_form').attr('action');
            data = {}
            data["csrfmiddlewaretoken"] = csfr_token;
            data["feedback_id"] = feedback_id;
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                cache: true,
                success: function(data) {
                    window.location.href = redirect_url;
                }
            });
        });
    </script>
{% endblock javascript %}