{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block dashboard %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>{% if user.first_name %}
                        Редактирование личной информации
                        {% else %}
                        Добавление личной информации
                        {% endif %}</h2>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'user_my_profile' %}">Профиль</a>
                    </li>
                    <li class="breadcrumb-item active">
                        {% if user.first_name %}
                        Редактирование личной информации
                        {% else %}
                        Добавление личной информации
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section-add-personal">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-text text-center">
					<p>Чтобы добавить или изменить Вашу личную информацию, заполните или отредактируйте форму.</p>
				</div>
			</div>
        </div>
		<!-- End Row -->
        <form action="{% url 'add_personal' %}" role="form" method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                    <div class="wrap-input100 validate-input">
                        <label for="{{ user_form.first_name.auto_id }}" class="label-input100">{{ user_form.first_name.label }}</label>
                        {% render_field user_form.first_name class="input100" %}
                        <span class="focus-input100"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                    <div class="wrap-input100 validate-input">
                        <label for="{{ profile_form.phone.auto_id }}" class="label-input100">{{ profile_form.phone.label }}</label>
                        {% render_field profile_form.phone class="input100 phone-mask" type="tel" %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-addpersonal100-form-btn">
                        <button type="submit" class="addpersonal100-form-btn">Сохранить</button>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </form>
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock dashboard %}