[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

django = "*"
requests = "*"
python-decouple = "*"
"psycopg2" = "*"
pillow = "*"
kombu = "*"
gunicorn = "*"
django-widget-tweaks = "*"
"django-select2" = "*"
celery = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"
"psycopg2-binary" = "*"


[dev-packages]



[requires]

python_version = "3.5.2"
