{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container main-container headerOffset">
	<div class="row">
		<div class="breadcrumbDiv col-lg-12">
			<ul class="breadcrumb">
				<li>
					<a href="{% url 'home' %}">На главную</a>
				</li>
				<li>
					<a href="{% url 'login' %}">Авторизация</a>
				</li>
				<li>
					<a href="{% url 'password_reset' %}">Забыли пароль?</a>
				</li>
				<li class="active">
					Пароль выслан
				</li>
			</ul>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7">
			<h1 class="section-title-inner">
				<span>
					<i class="fas fa-at"></i>
					<br>
					Инструкция по смене пароля была выслана Вам на почту. Если Вы не получили письмо, пожалуйста,
					убедитесь, что правильно ввели Ваш регистрационный email.
				</span>
			</h1>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-5"></div>
	</div>
	<!--/.row-->
	<div style="clear:both"></div>
</div>
<!--/.main container-->
<div class="gap"></div>
{% endblock %}