{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container main-container headerOffset">
	<div class="row">
		<div class="breadcrumbDiv col-lg-12">
			<ul class="breadcrumb">
				<li>
					<a href="{% url 'home' %}">На главную</a>
				</li>
				<li>
					<a href="{% url 'login' %}">Авторизация</a>
				</li>
				<li class="active">
					Учетная запись успешно активирована!
				</li>
			</ul>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7">
			<h1 class="section-title-inner">
				<span>
					{% if error %}
					<i class="far fa-calendar-times"></i>
					К сожалению, активационная ссылка устарела (прошло 48 часов с момента её получения).<br>
					Вы можете пройти регистрацию заново и получить новую ссылку. <a href="{% url 'login' %}">Зарегистрироваться заново!</a>
					{% else %}
					<i class="fas fa-user-plus"></i>
					Ваша новая учетная запись успешно активирована. <br>
					Теперь Вы можете <a href="{% url 'login' %}">войти</a> на сайт!
					{% endif %}
				</span>
			</h1>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-5"></div>
	</div>
	<!--/.row-->
	<div style="clear:both"></div>
</div>
<!--/.main container-->
<div class="gap"></div>
{% endblock %}