{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container main-container headerOffset">
	<div class="row">
		<div class="breadcrumbDiv col-lg-12">
			<ul class="breadcrumb">
				<li>
					<a href="{% url 'home' %}">На главную</a>
				</li>
				<li>
					<a href="{% url 'login' %}">Авторизация</a>
				</li>
				<li class="active">
					Забыли пароль?
				</li>
			</ul>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7">
			<h1 class="section-title-inner">
				<span>
					<i class="fas fa-unlock-alt"></i>
					Забыли пароль?
				</span>
			</h1>
			<div class="row userInfo">
				<div class="col-xs-12 col-sm-12">
					<p>
						Чтобы сбросить пароль, введите email, который Вы использовали при регистрации.
						<br>Мы вышлем Вам новый пароль.
					</p>
					<form role="form" action="." method="post">
						{% csrf_token %}
						<div class="form-group">
							{{ form.as_p }}
						</div>
						<button class="btn btn-primary" type="submit">
							<i class="fas fa-lock-open"></i>
							Возобновить пароль
						</button>
					</form>
					<div class="clear clearfix">
						<ul class="pager">
							<li class="previous pull-right">
								<a href="/auth/login/">Назад к Авторизации</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-5"></div>
	</div>
	<!--/.row-->
	<div style="clear:both"></div>
</div>
<!--/.main container-->
<div class="gap"></div>
{% endblock %}