{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h2>Ошибка авторизации</h1>
                </div>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Ошибка авторизации
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-activation">
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="footer-text text-center">
					<p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}