{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<section class="section-header"></section>
<section class="section-navigation">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="section-heading justify-content-lg-start justify-content-center">
                    <h1>Регистрация</h1>
                </div>
            </div>
            <div class="col-lg-5 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Регистрация
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-activation">
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="footer-text text-center">
					<p>
						Вы авторизируетесь на сайте c помощью аккаунта в {{ account.get_provider.name }}.
						Для завершения, пожалуйста, заполните следующие поля:
					</p>
					<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  					{% csrf_token %}
  						<div class="contact-input-area">
                        	<div class="row">
                        		<div class="col-lg-3 col-md-3"></div>
                            	<div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 40px;">
  									<div class="wrap-input100">
  										{{ form }}
  									</div>
  									{% if redirect_field_value %}
  										<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  									{% endif %}
  									<div class="form-group text-center">
  										<button class="btn submit-btn" type="submit">{% trans "Sign Up" %}</button>
  									</div>
  								</div>
  								<div class="col-lg-3 col-md-3"></div>
  							</div>
  						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->
{% endblock %}